Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

fix(server): deliver tiles expectedly
  server/tiles/handler.go
  server/tiles/handler_test.go
  server/tiles/tiles_test.go
Labels: server

fix(server,worker): citygml packer default timeout
  server/config.go
  worker/citygmlpacker/command.go
  worker/main.go
Labels: server

fix(server,worker): fix default citygml packer timeout
  server/citygml/packer.go
  worker/citygmlpacker/command.go
Labels: server

fix(worker): change timeout start in citygml packer
  worker/citygmlpacker/command.go
Labels: none

fix(server): retry citygml packer
  server/citygml/packer.go
Labels: server

fix(server,worker): support many urls by citygml packer
  server/citygml/packer.go
  worker/citygmlpacker/command.go
  worker/citygmlpacker/config.go
  worker/main.go
Labels: server

ci: no need to use artifacts to save docker images
  .github/workflows/build-server.yml
  .github/workflows/build-worker.yml
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
  .github/workflows/deploy-geo-dev.yml
  .github/workflows/deploy-geo-prod.yml
  .github/workflows/deploy-reearth-accounts-dev.yml
  .github/workflows/deploy-reearth-accounts-prod.yml
  .github/workflows/deploy-reearth-classic-dev.yml
  .github/workflows/deploy-reearth-classic-prod.yml
  .github/workflows/deploy-reearth-flow-dev.yml
  .github/workflows/deploy-reearth-flow-prod.yml
  .github/workflows/deploy-reearth-visualizer-dev.yml
  .github/workflows/deploy-reearth-visualizer-prod.yml
  .github/workflows/deploy-server-dev.yml
  .github/workflows/deploy-server-prod.yml
  .github/workflows/deploy-tiles-dev.yml
  .github/workflows/deploy-tiles-prod.yml
  .github/workflows/deploy-worker-dev.yml
  .github/workflows/deploy-worker-prod.yml
Labels: ci

fix(server): remove duplicates of citygml packers
  server/citygml/packer.go
Labels: server

ci: fix build workflows
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-tiles.yml
  .github/workflows/build-worker.yml
Labels: ci

ci: fix build workflows permissions
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-tiles.yml
  .github/workflows/build-worker.yml
Labels: ci

ci: fix build workflows
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-tiles.yml
  .github/workflows/build-worker.yml
Labels: ci

fix(worker): fix citygml packer panic
  worker/citygmlpacker/download.go
  worker/citygmlpacker/packer_gml.go
Labels: none

chore(worker): improve citygml packer logs
  worker/citygmlpacker/packer_gml.go
  worker/citygmlpacker/packer_zip.go
Labels: none

docs(terraform/gcp): add plateauview_flow_token
  terraform/gcp/README.md
Labels: terraform

feat(server): add tiles chiitiler handler
  server/config.go
  server/service.go
  server/tiles/chiitiler.go
  server/tiles/darkStyle.json
  server/tiles/handler.go
  server/tiles/handler_test.go
  server/tiles/lightStyle.json
  tools/tile-style-json/.gitignore
  tools/tile-style-json/README.md
  tools/tile-style-json/index.ts
  tools/tile-style-json/package-lock.json
  tools/tile-style-json/package.json
  tools/tile-style-json/vector-map-style/assets/std.json
  tools/tile-style-json/vector-map-style/createBoundaryStyles.ts
  tools/tile-style-json/vector-map-style/createLandWaterStyles.ts
  tools/tile-style-json/vector-map-style/createLayerStyles.ts
  tools/tile-style-json/vector-map-style/createRailwayStyles.ts
  tools/tile-style-json/vector-map-style/createRoadStyles.ts
  tools/tile-style-json/vector-map-style/createStyle.ts
  tools/tile-style-json/vector-map-style/createStyleBase.ts
  tools/tile-style-json/vector-map-style/helpers.ts
  tools/tile-style-json/vector-map-style/index.ts
  tools/tile-style-json/vector-map-style/styles.ts
Labels: server

fix(server): tiles style handler
  server/tiles/chiitiler.go
  server/tiles/handler.go
Labels: server

chore(server): fix test
  server/tiles/handler_test.go
Labels: server

fix(server): fix tiles style url
  server/config.go
  server/service.go
  server/tiles/chiitiler.go
  server/tiles/handler.go
  server/tiles/handler_test.go
Labels: server

ci: use step-security for changed-files action
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Labels: ci

ci: use step-security for changed-files action
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Labels: ci

ci: use step-security for changed-files action
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Labels: ci

feat(server): chiitiler cache in tiles
  server/config.go
  server/tiles/chiitiler.go
  server/tiles/handler.go
Labels: server

chore(server): fix type error
  server/service.go
Labels: server

chore(server): reduce logs in tiles
  server/tiles/chiitiler.go
Labels: server

ci: add deploy-chiitiler workflow
  .github/workflows/deploy-chiitiler.yml
Labels: ci

ci: fix eploy-chiitier workflow
  .github/workflows/deploy-chiitiler.yml
Labels: ci

ci: fix deploy-chiitiler workflow
  .github/workflows/deploy-chiitiler.yml
Labels: ci

ci: add image to deploy-chiitiler workflow
  .github/workflows/deploy-chiitiler.yml
Labels: ci

ci: fix deploy-chiitiler workflow
  .github/workflows/deploy-chiitiler.yml
Labels: ci

chore(terraform/gcp): add chiitiler terraform
  terraform/gcp/README.md
  terraform/gcp/chiitiler.tf
  terraform/gcp/google_service_account.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_v2_service.tf
  terraform/gcp/modules/chiitiler/google_project.tf
  terraform/gcp/modules/chiitiler/google_storage_bucket.tf
  terraform/gcp/modules/chiitiler/outputs.tf
  terraform/gcp/modules/chiitiler/variables.tf
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_api/variables.tf
  terraform/gcp/plateauview_api.tf
Labels: terraform

ci: use step-security for changed-files action (#450)
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Labels: ci

fix(server): detect bound intersection stricter in datacatalog
  server/datacatalog/citygml_files.go
  server/datacatalog/repos.go
  server/geo/geo.go
Labels: server

fix(server): fix bounds2 intersection logic
  server/datacatalog/citygml_files.go
  server/geo/geo.go
  server/geo/geo_test.go
Labels: server

fix(worker): fix updating gcs object in citygmlpacker
  worker/citygmlpacker/command.go
Labels: none

fix: remove PLATEAU_ORIGIN env
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
  extension/.env.example
  extension/package.json
  extension/reearth-yml.js
  extension/src/prototypes/view-layers/HeatmapLayer.tsx
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/states/environmentVariables.ts
  extension/tsconfig.node.json
Labels: ci

fix: plateau origin url
  .github/workflows/deploy-extension-dev.yml
Labels: ci

fix: plateau origin url (#451)
  .github/workflows/deploy-extension-dev.yml
Labels: ci

fix: update terrain
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix: update terrain (#452)
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(server): citygml files api mistake
  server/datacatalog/citygml_files.go
Labels: server

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
