Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

ci(tile): update Rust version to 1.92 and fix collapsible_if lint
  .github/workflows/ci-tile.yml
  tile/Dockerfile
  tile/src/cog/reader.rs
  tile/src/config.rs
  tile/src/tile/cog.rs
  tile/tests/common/mock_cog.rs
Labels: ci

feat(tile): add MapLibre style.json rendering and tile viewer
  tile/AGENTS.md
  tile/Cargo.toml
  tile/Dockerfile
  tile/docker-entrypoint.sh
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/tile/maplibre.rs
  tile/src/tile/mod.rs
Labels: none

feat(tile): add COG bounds preloading with configurable PRELOAD_MODE
  tile/AGENTS.md
  tile/src/main.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/tile/cog.rs
  tile/src/tile/composite.rs
  tile/src/tile/source.rs
  tile/tests/common/server.rs
Labels: none

feat(tile): upgrade to async-tiff main for fast COG metadata preloading
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/src/cog/decode.rs
  tile/src/cog/reader.rs
  tile/src/main.rs
  tile/src/tile/cog.rs
  tile/tests/cog_reader_test.rs
  tile/tests/common/mock_cog.rs
  tile/tests/e2e_cog_test.rs
  tile/tests/e2e_composite_test.rs
Labels: none

feat(tile): add persistent tile cache with multiple storage backends
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/src/cache/memory.rs
  tile/src/cache/mod.rs
  tile/src/cache/persistent.rs
  tile/src/cache/store.rs
  tile/src/cache/tiered.rs
  tile/src/main.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/tests/common/server.rs
Labels: none

feat(tile): add ETag and Cache-Control header support
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/src/config.rs
  tile/src/main.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/tests/common/server.rs
  tile/tests/e2e_xyz_test.rs
Labels: none

feat(tile): add WebP and AVIF image format support
  tile/Cargo.toml
  tile/README.md
  tile/src/cache/persistent.rs
  tile/src/server/handlers.rs
Labels: none

refactor(tile): extract viewer HTML and improve UX
  tile/src/server/handlers.rs
  tile/src/server/state.rs
  tile/src/server/viewer.html
  tile/src/tile/maplibre.rs
Labels: none

feat(tile): add object metadata for persistent cache
  tile/AGENTS.md
  tile/README.md
  tile/src/cache/mod.rs
  tile/src/cache/persistent.rs
  tile/src/cache/tiered.rs
  tile/src/main.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/tests/common/server.rs
Labels: none

feat(tile): improve viewer and filter maplibre sources
  tile/src/server/state.rs
  tile/src/server/viewer.html
Labels: none

feat(tile): add TileJSON endpoint for each source
  tile/README.md
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
Labels: none

feat(tile): implement smart ETag calculation based on covering layers
  tile/README.md
  tile/src/cache/tiered.rs
  tile/src/server/handlers.rs
  tile/src/server/state.rs
  tile/src/tile/cog.rs
  tile/src/tile/composite.rs
  tile/src/tile/maplibre.rs
  tile/src/tile/source.rs
  tile/src/tile/xyz.rs
Labels: none

refactor(tile): reduce duplication and split large files
  tile/src/cog/error.rs
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/cog/resample.rs
  tile/src/server/format.rs
  tile/src/server/handlers.rs
  tile/src/server/mod.rs
  tile/src/server/response.rs
  tile/src/tile/cog.rs
  tile/src/tile/maplibre.rs
  tile/src/tile/source.rs
  tile/src/tile/xyz.rs
Labels: none

fix(tile): add cache validation with etag_hash to prevent stale data
  tile/src/cache/persistent.rs
  tile/src/cache/tiered.rs
  tile/src/server/handlers.rs
Labels: none

docs: add tile server to documentation and move deploy script
  .github/scripts/watch-and-deploy-prod.sh
  AGENTS.md
  README.md
Labels: none

feat(tile): add single-flight request deduplication for tile generation
  tile/src/cache/memory.rs
  tile/src/cache/tiered.rs
  tile/src/server/handlers.rs
  tile/src/tile/source.rs
Labels: none

fix(tile): improve logging and use native object metadata for cache
  tile/src/cache/persistent.rs
  tile/src/main.rs
  tile/src/server/state.rs
Labels: none

feat(tile): store full ETag in R2 metadata for cache validation
  tile/src/cache/persistent.rs
  tile/src/server/handlers.rs
Labels: none

feat(tile): add Cloudflare Worker for R2 cache frontend
  tile/AGENTS.md
  tile/worker/.gitignore
  tile/worker/README.md
  tile/worker/package-lock.json
  tile/worker/package.json
  tile/worker/src/env.d.ts
  tile/worker/src/index.ts
  tile/worker/tsconfig.json
  tile/worker/worker-configuration.d.ts
  tile/worker/wrangler.toml
Labels: none

fix(tile): handle multiple XYZ layers with different zoom ranges
  tile/src/server/state.rs
Labels: none

feat(extension): migrate tiles to new server and use WebP format
  extension/src/prototypes/view/environments/MapEnvironment.tsx
  extension/src/prototypes/view/environments/SatelliteEnvironment.tsx
  extension/src/prototypes/view/ui-containers/EnvironmentSelect.tsx
Labels: none

feat(tile): add tracing-stackdriver for Cloud Logging and improve cache logs
  tile/Cargo.toml
  tile/src/cache/tiered.rs
  tile/src/main.rs
Labels: none

feat(server): remove chiitiler and tile proxy, add redirect to tile server
  server/config.go
  server/tiles/chiitiler.go
  server/tiles/handler.go
  server/tiles/handler_test.go
Labels: server

feat(tile): add backend type to persistent cache logs
  .github/scripts/watch-and-deploy-prod.sh
  tile/src/cache/mod.rs
  tile/src/cache/persistent.rs
  tile/src/cache/store.rs
  tile/src/cache/tiered.rs
Labels: none

ci: check production deploy by SHA instead of timestamp
  .github/scripts/watch-and-deploy-prod.sh
Labels: none

ci: use build-<sha> tag instead of latest for prod deploys
  .github/workflows/deploy-server-prod.yml
  .github/workflows/deploy-tile-prod.yml
  .github/workflows/deploy-worker-prod.yml
Labels: ci

feat(tile): add memory cache hit/miss logging to get_or_generate
  tile/src/cache/tiered.rs
Labels: none

feat(tile): add multi-cloud trace ID support and default Cache-Control
  tile/AGENTS.md
  tile/README.md
  tile/src/main.rs
  tile/src/server/routes.rs
Labels: none

chore(tile): fix formatting
  tile/src/main.rs
Labels: none

feat(tile): add Google Cloud Logging trace fields for filtering
  tile/src/server/routes.rs
Labels: none

fix(tile): move trace fields to jsonPayload for Cloud Logging
  tile/src/server/routes.rs
Labels: none

feat(tile): add OpenTelemetry trace context propagation for Cloud Logging
  tile/Cargo.toml
  tile/src/main.rs
  tile/src/server/routes.rs
Labels: none

feat(tile): add httpRequest logging for Cloud Logging integration
  tile/src/main.rs
  tile/src/server/routes.rs
Labels: none

refactor(tile): extract tracing middleware to dedicated module
  tile/src/server/mod.rs
  tile/src/server/routes.rs
  tile/src/server/tracing.rs
Labels: none

feat(server): add schemas parameter to FME requests
  server/cmsintegration/cmsintegrationv3/fme.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
Labels: server

feat(terraform): add plateauview-tiles infrastructure and remove chiitiler
  .github/workflows/deploy-chiitiler.yml
  terraform/gcp/chiitiler.tf
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/google_service_account.tf
  terraform/gcp/locals.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_v2_service.tf
  terraform/gcp/modules/chiitiler/google_storage_bucket.tf
  terraform/gcp/modules/chiitiler/outputs.tf
  terraform/gcp/modules/chiitiler/variables.tf
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_api/variables.tf
  terraform/gcp/modules/plateauview_tiles/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/plateauview_tiles/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_region_network_endpoint_group.tf
  terraform/gcp/modules/plateauview_tiles/google_project.tf
  terraform/gcp/modules/plateauview_tiles/outputs.tf
  terraform/gcp/modules/plateauview_tiles/variables.tf
  terraform/gcp/plateauview_api.tf
  terraform/gcp/plateauview_tiles.tf
Labels: terraform, ci

chore(terraform): remove unused prefix and domain variables from plateauview_tiles
  terraform/gcp/modules/plateauview_tiles/variables.tf
  terraform/gcp/plateauview_tiles.tf
Labels: terraform

refactor(terraform): rename plateauview_tiles to tile
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/modules/plateauview_tiles/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_region_network_endpoint_group.tf
  terraform/gcp/modules/plateauview_tiles/outputs.tf
  terraform/gcp/modules/tile/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/tile/google_cloud_run_v2_service.tf
  terraform/gcp/modules/tile/google_compute_region_network_endpoint_group.tf
  terraform/gcp/modules/tile/google_project.tf
  terraform/gcp/modules/tile/outputs.tf
  terraform/gcp/modules/tile/variables.tf
  terraform/gcp/tile.tf
Labels: terraform

fix(terraform): rename GCP resource names to plateau-tile
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/modules/tile/google_cloud_run_v2_service.tf
  terraform/gcp/modules/tile/google_compute_region_network_endpoint_group.tf
Labels: terraform

refactor(terraform): rename tile module and resources to plateauview_tile
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/modules/plateauview_tile/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/plateauview_tile/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_tile/google_compute_region_network_endpoint_group.tf
  terraform/gcp/modules/plateauview_tile/google_project.tf
  terraform/gcp/modules/plateauview_tile/outputs.tf
  terraform/gcp/modules/plateauview_tile/variables.tf
  terraform/gcp/plateauview_tile.tf
Labels: terraform
