Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

chore(server): use tool directive in go.mod
  server/go.mod
  server/tools.go
Labels: server

fix(server): optimize cache-control
  server/service.go
Labels: server

ci: add name to worklofws
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-tiles.yml
  .github/workflows/build-worker.yml
Labels: ci

ci: use docker image to save extension build artifacts
  .github/workflows/build-server.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
Labels: ci

ci: fix build-server workflow needs
  .github/workflows/ci.yml
Labels: ci

ci: replace github.event.inputs to inputs
  .github/workflows/ci-extension-version-update.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-extension-prod.yml
  .github/workflows/deploy-reearth-flow-dev.yml
  .github/workflows/deploy-reearth-flow-prod.yml
  .github/workflows/deploy-reearth-visualizer-prod.yml
Labels: ci

ci: fix build-server workflow
  .github/workflows/build-server.yml
Labels: ci

ci: fix build-server needi
  .github/workflows/ci.yml
Labels: ci

fix: correct the zfxy string format
  extension/src/prototypes/view/selection/LayerSpatialIdSection.tsx
  extension/src/prototypes/view/selection/SpatialIdObjectContent.tsx
Labels: none

fix(extension): correct the zfxy string format on spatial id layer (#453)
  extension/src/prototypes/view/selection/LayerSpatialIdSection.tsx
  extension/src/prototypes/view/selection/SpatialIdObjectContent.tsx
Labels: none

chore(server): proxy is a service
  server/main.go
  server/proxy/proxy.go
  server/service.go
Labels: server

fix(server): accept spatial id without prefix slash
  server/citygml/features.go
  server/citygml/spatialid_attributes.go
  server/datacatalog/citygml_files.go
  server/geo/spatialid/spatialid.go
  server/geo/spatialid/spatialid_test.go
Labels: server

feat(server): add skip_code_list_fetch option to CityGML SpatialID Attributes API
  server/citygml/echo.go
  server/citygml/spatialid_attributes.go
Labels: server

docs(server): update open api schema
  server/openapi/openapi.yml
Labels: server

fix: variables name
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
  .github/workflows/e2e-cms-web.yml
Labels: ci

test
  .github/workflows/e2e-cms-web.yml
Labels: ci

Revert "test"
  .github/workflows/e2e-cms-web.yml
Labels: ci

rename
  .github/workflows/e2e-cms-web.yml
Labels: ci

chore(server): update reeaethx
  server/go.mod
  server/go.sum
Labels: server

docs: update document link
  README.md
Labels: none

ci: update pack workflow
  .github/workflows/pack.yml
Labels: ci

ci: add pack update option
  .github/workflows/pack.yml
Labels: ci

ci: fix pack workflow
  .github/workflows/pack.yml
Labels: ci

ci: setup to run cms web e2e tests after deployment of cms (#430)
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
  .github/workflows/e2e-cms-web.yml
Labels: ci

fix(server): fix response of city code parameter of citugml files api
  server/datacatalog/citygml_files.go
  server/datacatalog/repos.go
Labels: server

feat(gcp): remove decomissioned tiles
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_firewall.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_resource_policy.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/google_storage_bucket.tf
  terraform/gcp/google_storage_bucket_iam_member.tf
  terraform/gcp/locals.tf
  terraform/gcp/modules/plateauview_tiles/cloud-init.yaml
  terraform/gcp/modules/plateauview_tiles/cloudinit_config.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_backend_service.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_firewall.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_health_check.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_instance_group_manager.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_instance_template.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_resource_policy.tf
  terraform/gcp/modules/plateauview_tiles/google_dns_managed_zone.tf
  terraform/gcp/modules/plateauview_tiles/google_dns_record_set.tf
  terraform/gcp/modules/plateauview_tiles/google_project.tf
  terraform/gcp/modules/plateauview_tiles/google_service_account.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket_iam_binding.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket_iam_member.tf
  terraform/gcp/modules/plateauview_tiles/locals.tf
  terraform/gcp/modules/plateauview_tiles/outputs.tf
  terraform/gcp/modules/plateauview_tiles/template/reearth_config.template.json
  terraform/gcp/modules/plateauview_tiles/variables.tf
  terraform/gcp/output.tf
  terraform/gcp/plateauview_geo.tf
  terraform/gcp/plateauview_tiles.tf
Labels: terraform

feat(gcp): remove decommisioned Tiles server (#454)
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_firewall.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_resource_policy.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/google_storage_bucket.tf
  terraform/gcp/google_storage_bucket_iam_member.tf
  terraform/gcp/locals.tf
  terraform/gcp/modules/plateauview_tiles/cloud-init.yaml
  terraform/gcp/modules/plateauview_tiles/cloudinit_config.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_backend_service.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_firewall.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_health_check.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_instance_group_manager.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_instance_template.tf
  terraform/gcp/modules/plateauview_tiles/google_compute_resource_policy.tf
  terraform/gcp/modules/plateauview_tiles/google_dns_managed_zone.tf
  terraform/gcp/modules/plateauview_tiles/google_dns_record_set.tf
  terraform/gcp/modules/plateauview_tiles/google_project.tf
  terraform/gcp/modules/plateauview_tiles/google_service_account.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket_iam_binding.tf
  terraform/gcp/modules/plateauview_tiles/google_storage_bucket_iam_member.tf
  terraform/gcp/modules/plateauview_tiles/locals.tf
  terraform/gcp/modules/plateauview_tiles/outputs.tf
  terraform/gcp/modules/plateauview_tiles/template/reearth_config.template.json
  terraform/gcp/modules/plateauview_tiles/variables.tf
  terraform/gcp/output.tf
  terraform/gcp/plateauview_geo.tf
  terraform/gcp/plateauview_tiles.tf
Labels: terraform

ci(tiles): remove deployment workflows
  .github/workflows/deploy-tiles-dev.yml
  .github/workflows/deploy-tiles-prod.yml
Labels: ci

fix(extension): change spatial id text
  extension/src/prototypes/view/selection/LayerSpatialIdSection.tsx
  extension/src/prototypes/view/selection/SpatialIdObjectContent.tsx
Labels: none

feat(server): add lod fields to citygml files api
  server/datacatalog/citygml.go
  server/datacatalog/lod.go
  server/openapi/openapi.yml
Labels: server

ci: fix missing var for GCP_REGION
  .github/workflows/deploy-cms-prod.yml
Labels: ci

ci: fix missing var for GCP_REGION (#455)
  .github/workflows/deploy-cms-prod.yml
Labels: ci

feat(server): japan mesh MVT API
  server/geo/jisx0410/jisx0410.go
  server/geo/jisx0410/jisx0410_test.go
  server/geo/jisx0410mvt/mvt.go
  server/go.mod
  server/go.sum
  server/govpolygon/handler.go
Labels: server

fix
  server/govpolygon/handler.go
Labels: server

fix(server): supress 500 errors
  server/citygml/packer.go
  server/tiles/handler.go
Labels: server

fix(worker): fix panic error
  server/cmsintegration/geospatialjpv3/prepare_cloudbuild.go
  server/cmsintegration/geospatialjpv3/webhook.go
  worker/preparegspatialjp/cms.go
Labels: server

fix: review from piyush
  editor/CHANGELOG.md
  editor/CODE_OF_CONDUCT.md
  editor/CONTRIBUTING.md
  editor/README.md
  editor/app
  editor/docker-compose.yml
  editor/server/README.md
  editor/web/.storybook/theme.ts
  editor/web/package.json
  editor/web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/hooks.test.tsx
Labels: none

delete LICENCE
  editor/LICENSE
  editor/web/LICENSE
Labels: none

fix: review
  editor/server/README.md
Labels: none

ci: fix pack workflow
  .github/workflows/pack.yml
Labels: ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
