Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

fix(server): make spec search index init retryable (#507)
  server/mcp/plateauspecmcp/search.go
  server/service.go
Labels: server

ci(flow prod): promote plateau actions schema from plateau-dev bucket
  .github/workflows/deploy-flow-prod.yml
Labels: ci

ci(flow dev): publish plateau5 actions schema to plateau-dev bucket
  .github/workflows/deploy-flow-dev.yml
Labels: ci

fix(ci): update deploy-flow-dev with Rust toolchain setup and caching in CI workflow
  .github/workflows/deploy-flow-dev.yml
Labels: ci

ci(flow): gate schema upload on deploy, add setup-gcloud, guard prod web_run_id
  .github/workflows/deploy-flow-dev.yml
  .github/workflows/deploy-flow-prod.yml
Labels: ci

ci(flow): publish/promote plateau5 actions schema to plateau buckets (#508)
  .github/workflows/deploy-flow-dev.yml
  .github/workflows/deploy-flow-prod.yml
Labels: ci

fix(extension): route custom terrain URL through cesiumion ionUrl
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): route custom terrain URL through cesiumion ionUrl (#509)
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): unbreak deploy build on modern Node
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
  extension/reearth-yml.ts
Labels: ci

fix(extension): unbreak deploy build on modern Node (#510)
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
  extension/reearth-yml.ts
Labels: ci

fix(extension): stop terrain reload loop from overrideProperty spam
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): stop terrain reload loop from overrideProperty spam (#511)
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): gate scene overrideProperty on payload, not inputs
  extension/package.json
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): gate scene overrideProperty on payload, not inputs (#512)
  extension/package.json
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): stop terrain atom ping-pong between widget contexts
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(extension): stop terrain atom ping-pong between widget contexts (#513)
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

feat(extension): always request terrain vertex normals; remove the option
  extension/reearth-yml.ts
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
  extension/src/shared/states/environmentVariables.ts
  extension/src/toolbar/Widget.tsx
Labels: none

feat(extension): always request terrain vertex normals; remove the option (#514)
  extension/reearth-yml.ts
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
  extension/src/shared/states/environmentVariables.ts
  extension/src/toolbar/Widget.tsx
Labels: none

feat(tile): support Web Mercator and JGD2011 COGs
  tile/README.md
  tile/src/cog/bounds.rs
  tile/src/cog/error.rs
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/terrain/cog_dem.rs
  tile/src/tile/cog.rs
Labels: none

docs(tile): clarify CRS-agnostic bounds and complete UnsupportedCrs message
  tile/src/cog/bounds.rs
  tile/src/cog/error.rs
Labels: none

feat(tile): support Web Mercator and JGD2011 COGs (#515)
  tile/README.md
  tile/src/cog/bounds.rs
  tile/src/cog/error.rs
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/terrain/cog_dem.rs
  tile/src/tile/cog.rs
Labels: none

docs(tile): explain COG CRS choice as a resampling-pipeline decision
  tile/README.md
Labels: none

feat(tile): decode WEBP-compressed COG tiles
  tile/README.md
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/cog/webp.rs
Labels: none

feat(tile): decode WEBP-compressed COG tiles (#516)
  tile/README.md
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/cog/webp.rs
Labels: none

fix(tile): normalize WEBP tiles to RGBA to fix stride corruption
  tile/src/cog/webp.rs
Labels: none

fix(tile): normalize WEBP tiles to RGBA to fix stride corruption (#517)
  tile/src/cog/webp.rs
Labels: none

feat(tile): add cog-batch scripts (原本TIFF→配信COG on Spot VM)
  tile/scripts/cog-batch/README.md
  tile/scripts/cog-batch/convert-cogs.sh
  tile/scripts/cog-batch/provision-vm.sh
  tile/scripts/cog-batch/rclone.conf.example
Labels: none

feat(cloudflare): serve terrain/ortho COGs from R2 under tiles.plateau.city
  .github/workflows/ci-cloudflare-tiles.yml
  .github/workflows/deploy-cloudflare-tiles.yml
  cloudflare/README.md
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
  cloudflare/tiles/src/terrain.ts
  cloudflare/tiles/wrangler.toml
  package-lock.json
  package.json
Labels: ci

fix(cloudflare): address review — CORS Range headers, safe path decode, config guard
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
Labels: none

feat(cloudflare): serve terrain/ortho COGs from R2 under tiles.plateau.city (#519)
  .github/workflows/ci-cloudflare-tiles.yml
  .github/workflows/deploy-cloudflare-tiles.yml
  cloudflare/README.md
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
  cloudflare/tiles/src/terrain.ts
  cloudflare/tiles/wrangler.toml
  package-lock.json
  package.json
Labels: ci

fix(cloudflare): return 206 Partial Content for honored Range requests
  cloudflare/tiles/src/r2.ts
Labels: none

fix(cloudflare): return 206 Partial Content for honored Range requests (#520)
  cloudflare/tiles/src/r2.ts
Labels: none

feat(tile): support multiple comma-separated CONFIG_URLs
  tile/AGENTS.md
  tile/README.md
  tile/src/config.rs
  tile/src/main.rs
  tile/tests/common/server.rs
Labels: none

feat(cloudflare): emit /tile config.json from R2 COGs
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
Labels: none

feat(cloudflare): add terrain DEM mode to /tile config endpoint
  cloudflare/tiles/src/r2.ts
Labels: none

fix(cloudflare): address review on config endpoint
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
Labels: none

refactor(cloudflare): config-driven DEM detection, default source name 'dem'
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
  cloudflare/tiles/wrangler.toml
Labels: none

feat(tile,cloudflare): compose multiple configs; emit /tile config.json from R2 COGs (#521)
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/r2.ts
  cloudflare/tiles/wrangler.toml
  tile/AGENTS.md
  tile/README.md
  tile/src/config.rs
  tile/src/main.rs
  tile/tests/common/server.rs
Labels: none

fix(server,extension): percent-encode spatial ID slashes in citygml file API URL
  extension/src/shared/api/citygml/client.ts
  server/citygml/datacatalog.go
Labels: server

fix(server,extension): percent-encode spatial ID slashes in citygml file API URL (#522)
  extension/src/shared/api/citygml/client.ts
  server/citygml/datacatalog.go
Labels: server
