Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

feat(cloudflare): add cumulative <dataset>-all raster source to config
  cloudflare/tiles/src/r2.ts
Labels: none

feat(cloudflare): add cumulative ortho-all source to /ortho/config.json (#523)
  cloudflare/tiles/src/r2.ts
Labels: none

feat(server): set plateau-cms user agent on geospatial.jp CKAN requests
  server/cmsintegration/ckan/ckan.go
  server/cmsintegration/ckan/ckan_test.go
Labels: server

fix(server): send CKAN API token via Authorization header to geospatial.jp
  server/cmsintegration/ckan/ckan.go
  server/cmsintegration/ckan/ckan_test.go
Labels: server

fix(server): address Copilot review on #524
  server/opinion/echo.go
  server/opinion/echo_test.go
  server/plateaucms/cms.go
  server/plateaucms/cms_test.go
  server/plateaucms/metadata.go
Labels: server

fix(server): cache CMS metadata + verify SendGrid response (#524)
  server/opinion/echo.go
  server/opinion/echo_test.go
  server/plateaucms/cms.go
  server/plateaucms/cms_test.go
  server/plateaucms/metadata.go
Labels: server

eukachan: update fix/geo-clamp-estat-limit
  geo/src/prototypes/nest-estat-areas/EstatAreasService.ts
Labels: none

eukachan: update fix/server-hardening
  server/citygml/attributes_test.go
  server/citygml/echo.go
  server/citygml/features_test.go
  server/citygml/packer.go
  server/citygml/safeurl.go
  server/citygml/safeurl_test.go
  server/citygml/spatialid_attributes.go
  server/cmsintegration/cmsintegrationv3/fme.go
  server/cmsintegration/cmsintegrationv3/webhook.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/dataconv/service.go
Labels: server

eukachan: update fix/cms-asset-import-url-safety
  cms/server/pkg/file/file.go
  cms/server/pkg/file/file_test.go
  cms/server/pkg/file/safeurl.go
  cms/server/pkg/file/safeurl_test.go
Labels: none

fix Copilot review comments + pin pmtiles=0.23.0 to unblock ci-tile
  tile/Cargo.toml
  tile/src/server/terrain.rs
  tile/src/terrain/mod.rs
Labels: none

pin pmtiles=0.23.0 to unblock ci-tile
  cloudflare/tiles/src/r2.ts
  tile/Cargo.toml
  tile/worker/src/index.ts
Labels: none

feat(editor/server): add per-request access audit middleware
  editor/server/internal/app/access_audit.go
  editor/server/internal/app/access_audit_test.go
  editor/server/internal/app/app.go
  editor/server/internal/app/config/config.go
Labels: none

fix(terraform): stop granting write access to anonymous principals
  terraform/aws/modules/reearth-cms/cms-s3.tf
  terraform/aws/modules/reearth-cms/plateauview-geo-s3.tf
  terraform/aws/modules/reearth-cms/plateauview-geo.tf
  terraform/gcp/google_pubsub_topic_iam_member.tf
  terraform/gcp/google_storage_bucket_iam_member.tf
Labels: terraform

fix(cloudflare): bound config.json COG enumeration and cut peak memory
  cloudflare/tiles/src/r2.ts
Labels: none

fix(server): harden citygml fetching, cms webhook handling, and govpolygon updates
  server/citygml/attributes_test.go
  server/citygml/echo.go
  server/citygml/echo_test.go
  server/citygml/features_test.go
  server/citygml/packer.go
  server/cmsintegration/cmsintegrationcommon/webhook.go
  server/cmsintegration/cmsintegrationcommon/webhook_test.go
  server/cmsintegration/cmsintegrationv3/webhook.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/handler.go
  server/datacatalog/citygml_csv.go
  server/echo.go
  server/govpolygon/handler.go
  server/govpolygon/handler_test.go
Labels: server

fix(server): cap citygml fan-out and cache catalog and CMS lookups
  server/datacatalog/citygml_redirect.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/mvt_tilejson.go
  server/datacatalog/plateauapi/inmemory_filter.go
  server/datacatalog/plateauapi/inmemory_filter_test.go
  server/datacatalog/repos.go
  server/datacatalog/repos_test.go
  server/datacatalog/simple.go
  server/datacatalog/simple_cache.go
  server/datacatalog/simple_cache_test.go
  server/plateaucms/cms.go
  server/plateaucms/plateau_feature_type.go
  server/plateaucms/plateau_feature_type_test.go
Labels: server

feat(tile): add sea-level DEM base and r2:// COG overlay support
  tile/README.md
  tile/src/terrain/cog_dem.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/sealevel.rs
  tile/src/terrain/settings.rs
Labels: none

chore: ignore /tmp, wrangler state, and rclone configs
  .gitignore
Labels: none

init
  AGENTS.md
  converter/.gitignore
  converter/AGENTS.md
  converter/CLAUDE.md
  converter/Cargo.lock
  converter/Cargo.toml
  converter/README.md
  converter/cli/Cargo.toml
  converter/cli/src/main.rs
  converter/core/Cargo.toml
  converter/core/src/bldg.rs
  converter/core/src/common.rs
  converter/core/src/convert.rs
  converter/core/src/dataset.rs
  converter/core/src/error.rs
  converter/core/src/lib.rs
  converter/core/src/profile.rs
  converter/core/src/report.rs
  converter/core/src/transform.rs
  converter/core/src/xml/mod.rs
  converter/core/src/xml/node.rs
  converter/core/src/xml/read.rs
  converter/core/src/xml/write.rs
  converter/core/tests/convert_bldg.rs
  converter/core/tests/dataset_intake.rs
  converter/core/tests/fixtures/plateau/codelists/BuildingDataQualityAttribute_lod1HeightType.xml
  converter/core/tests/fixtures/plateau/codelists/BuildingDataQualityAttribute_srcScale.xml
  converter/core/tests/fixtures/plateau/codelists/Common_localPublicAuthorities.xml
  converter/core/tests/fixtures/plateau/codelists/Common_urbanPlanType.xml
  converter/core/tests/fixtures/plateau/codelists/LandSlideRiskAttribute_areaType.xml
  converter/core/tests/fixtures/plateau/codelists/LandSlideRiskAttribute_description.xml
  converter/core/tests/fixtures/plateau/udx/bldg/52382287_bldg_6697_psc_op.gml
  converter/profiles/citygml-2.0-to-3.0.toml
  converter/rust-toolchain.toml
  converter/ui/README.md
Labels: none

fix: mapping rules for iur 3.1 and 3.2
  converter/AGENTS.md
  converter/core/src/bldg.rs
  converter/core/src/common.rs
  converter/core/src/profile.rs
  converter/core/tests/convert_bldg.rs
  converter/profiles/citygml-2.0-to-3.0.toml
Labels: none

basic lod 4 mapping
  converter/AGENTS.md
  converter/README.md
  converter/cli/src/main.rs
  converter/codelists/Elevation_elevationReference.xml
  converter/core/src/bldg.rs
  converter/core/src/convert.rs
  converter/core/src/lib.rs
  converter/core/src/lod4.rs
  converter/core/src/profile.rs
  converter/core/tests/convert_bldg.rs
  converter/core/tests/convert_lod4.rs
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
Labels: none

, non-gml fixture copy, bug fix for self-closing root
  converter/README.md
  converter/core/src/convert.rs
  converter/core/src/dataset.rs
  converter/core/src/xml/read.rs
  converter/core/tests/convert_bldg.rs
  converter/core/tests/dataset_intake.rs
  converter/core/tests/fixtures/plateau/udx/bldg/52382287_bldg_6697_appearance/hnap0001.jpg
Labels: none

appearance support
  converter/AGENTS.md
  converter/README.md
  converter/core/src/app.rs
  converter/core/src/convert.rs
  converter/core/src/lib.rs
  converter/core/tests/convert_app.rs
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
Labels: none

fix: gYear→date conversion, codelist rename detection, hand-edited code detection, Dangling-codespace warning
  converter/README.md
  converter/core/src/common.rs
  converter/core/src/convert.rs
  converter/core/src/iur.rs
  converter/core/src/profile.rs
  converter/core/src/report.rs
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
Labels: none

feat: xal
  converter/AGENTS.md
  converter/README.md
  converter/core/src/convert.rs
  converter/core/src/dataset.rs
  converter/core/src/lib.rs
  converter/core/src/xal.rs
  converter/core/tests/convert_xal.rs
  converter/core/tests/dataset_intake.rs
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
Labels: none

fix: reorder now works with comments, fails on unclosed xml
  converter/core/src/convert.rs
  converter/core/src/iur.rs
  converter/core/src/transform.rs
  converter/generator/src/main.rs
Labels: none

chore: remove review
  converter/AGENTS.md
  converter/README.md
  converter/core/src/common.rs
  converter/core/src/profile.rs
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
Labels: none

chore: factoring out citygml-specific conversion profile from the iur profile
  converter/AGENTS.md
  converter/README.md
  converter/core/src/lib.rs
  converter/core/src/lod4.rs
  converter/core/src/profile.rs
  converter/core/tests/convert_lod4.rs
  converter/profiles/citygml-2.0-to-3.0.toml
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
  converter/profiles/iur-4.0-target.toml
Labels: none

refactor: simplify profile merge, profile xal, and cut trivial tests
  converter/AGENTS.md
  converter/README.md
  converter/core/src/app.rs
  converter/core/src/bldg.rs
  converter/core/src/common.rs
  converter/core/src/dataset.rs
  converter/core/src/detect.rs
  converter/core/src/iur.rs
  converter/core/src/lod4.rs
  converter/core/src/profile.rs
  converter/core/src/transform.rs
  converter/core/src/xal.rs
  converter/core/src/xml/write.rs
  converter/core/tests/convert_bldg.rs
  converter/core/tests/convert_lod4.rs
  converter/core/tests/dataset_intake.rs
  converter/generator/src/main.rs
Labels: none

chore: formatting
  converter/AGENTS.md
  converter/README.md
  converter/cli/src/main.rs
  converter/core/build.rs
  converter/core/src/app.rs
  converter/core/src/bldg.rs
  converter/core/src/common.rs
  converter/core/src/convert.rs
  converter/core/src/dataset.rs
  converter/core/src/detect.rs
  converter/core/src/error.rs
  converter/core/src/iur.rs
  converter/core/src/lib.rs
  converter/core/src/lod4.rs
  converter/core/src/profile.rs
  converter/core/src/report.rs
  converter/core/src/transform.rs
  converter/core/src/xal.rs
  converter/core/src/xml/mod.rs
  converter/core/src/xml/node.rs
  converter/core/src/xml/read.rs
  converter/core/src/xml/write.rs
  converter/core/tests/convert_app.rs
  converter/core/tests/convert_bldg.rs
  converter/core/tests/convert_lod4.rs
  converter/core/tests/convert_xal.rs
  converter/core/tests/dataset_intake.rs
  converter/fixtures/schemas/README.md
  converter/generator/src/main.rs
  converter/generator/src/xsd.rs
  converter/profiles/citygml-2.0-to-3.0.toml
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
  converter/profiles/iur-4.0-target.toml
  converter/ui/README.md
Labels: none

feat: add simple ci for converter
  .github/workflows/ci-converter.yml
  .github/workflows/ci.yml
Labels: ci

fix: minor fixes to the profiles
  converter/core/src/iur.rs
  converter/core/src/profile.rs
  converter/profiles/citygml-2.0-to-3.0.toml
  converter/profiles/iur-3.0-to-4.0.toml
  converter/profiles/iur-3.1-to-4.0.toml
  converter/profiles/iur-3.2-to-4.0.toml
  converter/profiles/iur-4.0-target.toml
Labels: none

chore: doc fixes
  converter/AGENTS.md
  converter/README.md
Labels: none

fix: room data quality attribute target changed to interior (currently inert)
  converter/profiles/citygml-2.0-to-3.0.toml
  converter/profiles/iur-3.0-to-4.0.toml
Labels: none

fix(tile): correct COG edge-chunk stride and URL path encoding
  tile/src/cache/store.rs
  tile/src/cog/reader.rs
  tile/src/lib.rs
  tile/src/object_url.rs
  tile/src/terrain/cog_dem.rs
  tile/src/terrain/pmtiles.rs
  tile/src/tile/cog.rs
Labels: none

fix(tile): compose object keys without re-encoding the decoded prefix
  tile/src/cache/persistent.rs
  tile/src/terrain/mirror.rs
Labels: none

fix(tile): pin pmtiles and commit Cargo.lock so CI can resolve
  tile/.gitignore
  tile/Cargo.lock
  tile/Cargo.toml
Labels: none

fix(cloudflare): send Content-Length on HEAD from the tiles Worker
  cloudflare/tiles/src/r2.ts
Labels: none

fix(tile): bump mesh-algo tag to force terrain regeneration
  tile/src/server/terrain.rs
Labels: none

feat(tile): bind the geoid model to the DEM source, not the request
  tile/AGENTS.md
  tile/README.md
  tile/src/config.rs
  tile/src/server/handlers.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
  tile/src/terrain/ellipsoid.rs
  tile/src/terrain/geoid.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/settings.rs
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none
