Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

ci(editor): adjust web container build context
  .github/workflows/build-editor.yml
  editor/web/Dockerfile
Labels: ci

ci(editor): adjust Dockerfile mount
  editor/web/Dockerfile
Labels: none

ci(editor): adjust web container build context (#469)
  .github/workflows/build-editor.yml
  editor/web/Dockerfile
Labels: ci

ci(editor): disable cache for core build)
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): disable cache for core build) (#470)
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): fix core build yarn version
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): fix core build yarn version (#471)
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): migrate to stefanzweifel/git-auto-commit-action
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): migrate to stefanzweifel/git-auto-commit-action (#472)
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): trigger core build and push changes in PR event
  .github/workflows/build-editor.yml
  .github/workflows/ci.yml
Labels: ci

ci(editor): fallback git-auto-commit-action to current branch
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): include all changes in core directory
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): trigger core build and push changes in PR event (#473)
  .github/workflows/build-editor.yml
  .github/workflows/ci.yml
  editor/core/dist/package.json
Labels: ci

fix: use thier own style for CZML in mydata
  extension/src/shared/layerContainers/myData.tsx
Labels: none

fix(extension): use thier own style for CZML in mydata (#474)
  extension/src/shared/layerContainers/myData.tsx
Labels: none

feat(data-attribution): add data attribution widget and modal components
  extension/reearth-yml.ts
  extension/src/dataAttribution/DetailsModal.tsx
  extension/src/dataAttribution/Widget.tsx
  extension/src/dataAttribution/assets/cesium-ion-credit.png
  extension/src/dataAttribution/index.ts
  extension/src/index.ts
  extension/src/shared/ui-components/common/ViewClickAwayListener.tsx
Labels: none

feat(extension): add data attribution widget (#475)
  extension/reearth-yml.ts
  extension/src/dataAttribution/DetailsModal.tsx
  extension/src/dataAttribution/Widget.tsx
  extension/src/dataAttribution/assets/cesium-ion-credit.png
  extension/src/dataAttribution/index.ts
  extension/src/index.ts
  extension/src/shared/ui-components/common/ViewClickAwayListener.tsx
Labels: none

ci: fix ci
  .github/workflows/ci-worker.yml
  .github/workflows/pr-title.yml
Labels: ci

docs: add CLAUDE.md and docs
  CLAUDE.md
  server/CLAUDE.md
  server/docs/plateau-view-data-flow.md
Labels: server

chore(server): output warnings for debug
  server/datacatalog/datacatalogv3/repos.go
Labels: server

fix(extension): enable includeParents flag in dataset type list
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

fix(extension): enable includeParents flag in dataset type list (#477)
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

fix: make gcs bucket name unique
  terraform/gcp/google_storage_bucket.tf
Labels: terraform

doc(server)s: update data flow guide
  server/docs/plateau-view-data-flow.md
Labels: server

feat(server): parse interior asset
  server/datacatalog/datacatalogv3/conv_asset.go
  server/datacatalog/datacatalogv3/conv_asset_test.go
Labels: server

fix(server): remove empty dataset types from plateau api
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_test.go
  server/datacatalog/datacatalogv3/repos_test.go
Labels: server

chore(server): fix lint warnings
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/pcms.go
Labels: server

feat(server,worker): add lodstat cmsintegration
  server/cmsintegration/cmsintlodstat/handler.go
  server/cmsintegration/cmsintlodstat/service.go
  server/cmsintegration/cmsintlodstat/webhook.go
  server/cmsintegration/handler.go
  worker/go.mod
  worker/go.sum
  worker/lodstat/main.go
  worker/main.go
Labels: server

feat(server,worker): add lodstat cmsintegration (#476)
  server/cmsintegration/cmsintlodstat/handler.go
  server/cmsintegration/cmsintlodstat/service.go
  server/cmsintegration/cmsintlodstat/webhook.go
  server/cmsintegration/handler.go
  worker/go.mod
  worker/go.sum
  worker/lodstat/main.go
  worker/main.go
Labels: server

fix: fix terraform README guideline
  terraform/gcp/README.md
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
Labels: terraform

chore(terraform/gcp): fix terraform README (#479)
  terraform/gcp/README.md
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
Labels: terraform

feat(server): add _bbox field to citygml spatialid attribute API
  server/citygml/attributes.go
  server/citygml/attributes_test.go
  server/citygml/features.go
  server/citygml/spatialid_attributes.go
  server/citygml/spatialid_attributes_test.go
  server/openapi/openapi.yml
Labels: server

ci: remove tiles CI
  .github/workflows/build-tiles.yml
  .github/workflows/ci-tiles.yml
  .github/workflows/ci.yml
Labels: ci

feat(server): add _bbox field to citygml attribute API
  server/citygml/attributes.go
  server/citygml/attributes_test.go
  server/openapi/openapi.yml
Labels: server

feat(server): support interior datasets in datacatalog
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_seed.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_test.go
Labels: server

feat(server): override spec by feature items in cmsintegrationv3
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationcommon/model_test.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintflow/req.go
Labels: server

fix(server): fix conv skip logic in cmsintflow
  server/cmsintegration/cmsintflow/res.go
Labels: server

feat(server): add global area to datacatalog
  server/CLAUDE.md
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/gqlgen.yml
  server/datacatalog/plateauapi/inmemory.go
  server/datacatalog/plateauapi/inmemory_filter.go
  server/datacatalog/plateauapi/models.go
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/schema.graphql
  server/datacatalog/plateauapi/schema.resolvers.go
  server/datacatalog/plateauapi/type.go
Labels: server

chore(e2e): add e2e testing module
  README.md
  e2e/.gitignore
  e2e/CLAUDE.md
  e2e/README.md
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/BasePage.ts
  e2e/pages/MenuPage.ts
  e2e/pages/ToolbarPage.ts
  e2e/pages/index.ts
  e2e/playwright.config.ts
  e2e/tests/toolbar/menu.spec.ts
Labels: none

fix(e2e): add smoke test, use single page
  e2e/CLAUDE.md
  e2e/README.md
  e2e/package.json
  e2e/pages/BasePage.ts
  e2e/pages/ToolbarPage.ts
  e2e/tests/smoke/basic.spec.ts
  e2e/tests/toolbar/menu.spec.ts
Labels: none
