Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

fix(tile): rebuild DEM terrain and inventory on /reload
  tile/src/server/state.rs
  tile/src/server/terrain.rs
Labels: none

fix(tile): auto-detect GDAL_NODATA from COG DEM metadata
  tile/src/cog/reader.rs
  tile/src/terrain/cog_dem.rs
Labels: none

feat(tile): add bounds inspector to Cesium terrain viewer
  tile/src/server/terrain_viewer.html
Labels: none

feat(tile): color inspector overlays per source instead of per layer
  tile/src/server/terrain_viewer.html
  tile/src/server/viewer.html
Labels: none

fix(tile): keep GSI as default imagery and add legacy terrain compare
  tile/src/server/terrain_viewer.html
Labels: none

fix(tile): restore PLATEAU terrain after legacy compare via setTerrain
  tile/src/server/terrain_viewer.html
Labels: none

refactor(tile): serve viewer HTML from disk to skip Rust rebuild on edits
  tile/AGENTS.md
  tile/Dockerfile
  tile/src/server/handlers.rs
  tile/src/server/mod.rs
  tile/src/server/static_assets.rs
  tile/src/server/terrain.rs
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none

fix(tile): upsample base DEM in composite when zoom exceeds its range
  tile/src/terrain/composite.rs
Labels: none

feat(tile): enable infoBox/selectionIndicator in Cesium debug viewer
  tile/static/terrain_viewer.html
Labels: none

feat(tile): mix upstream COG ETag into per-tile etag, bump default version
  tile/src/server/state.rs
  tile/src/terrain/cog_dem.rs
Labels: none

fix(tile): walk up parent tiles on base NotFound, not just OutOfRange
  tile/src/server/state.rs
  tile/src/terrain/composite.rs
Labels: none

perf(tile): LRU-cache base DEM tiles to reduce per-request memory
  tile/src/server/state.rs
  tile/src/terrain/cached_dem.rs
  tile/src/terrain/mod.rs
Labels: none

feat(cms): gzip .glb/.gltf on asset decompression, bump gcs-unzip to v0.1.9
  cms/server/internal/infrastructure/gcp/config.go
  cms/worker/decompressor.Dockerfile
Labels: none

fix(ci): correct context/file paths for cms-worker docker builds
  .github/workflows/build-cms-worker.yml
Labels: ci

fix(cms): bump worker Dockerfile Go to 1.24.4 to match go.work
  cms/worker/Dockerfile
  cms/worker/copier.Dockerfile
  cms/worker/decompressor.Dockerfile
Labels: none

feat(extension): support custom terrain layer.json URL on toolbar widget
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
  extension/src/shared/states/environmentVariables.ts
  extension/src/toolbar/Widget.tsx
Labels: none

feat(extension): add terrainUrl/terrainNormal to toolbar widget schema
  extension/reearth-yml.ts
Labels: none

feat(extension): support custom terrain layer.json URL on toolbar widget (#503)
  extension/reearth-yml.ts
  extension/src/shared/context/WidgetContext.tsx
  extension/src/shared/reearth/scene/Scene.tsx
  extension/src/shared/states/environmentVariables.ts
  extension/src/toolbar/Widget.tsx
Labels: none

feat(cms): switch decompressor to reearth/gcs-unzip v0.1.10 with built-in gzip
  cms/server/internal/infrastructure/gcp/config.go
  cms/server/internal/infrastructure/gcp/taskrunner.go
  cms/server/internal/infrastructure/gcp/taskrunner_test.go
  cms/worker/decompressor.Dockerfile
Labels: none

fix(ci): trigger deploy-cms-dev when any cms component built
  .github/workflows/ci.yml
Labels: ci

feat(datacatalog): add ETag + revalidation to composite stable URLs
  server/datacatalog/citygml_redirect.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/etag.go
  server/datacatalog/mvt_tilejson.go
Labels: server

feat(datacatalog): expose CMS asset file size on datasets/CityGML
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/citygml.md
  server/datacatalog/datacatalogv3/cms_model.go
  server/datacatalog/datacatalogv3/conv_citygml.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_seed.go
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/schema.graphql
  server/datacatalog/simple.go
Labels: server

feat(datacatalog): derive stable-URL ETag from repo revision
  docs/src/content/docs/datasets/3d-tiles.md
  server/datacatalog/citygml_redirect.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/etag.go
  server/datacatalog/mvt_tilejson.go
  server/datacatalog/plateauapi/inmemory.go
  server/datacatalog/plateauapi/merge.go
  server/datacatalog/plateauapi/repo_wrapper.go
  server/datacatalog/plateauapi/resolver.go
  server/datacatalog/repos.go
Labels: server

fix(server): restrict /proxy/* to allow-listed hosts
  server/config.go
  server/proxy/proxy.go
  server/service.go
Labels: server

docs(tile): document nodata-aware COG overview build recipe
  tile/README.md
Labels: none

feat(skills): add plateau-api agent skill
  .github/workflows/build-skills-dist.yml
  .github/workflows/ci-skills.yml
  docs/astro.config.mjs
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/overview.md
  skills/README.md
  skills/RELEASE.md
  skills/plateau-api/SKILL.md
  skills/plateau-api/references/citygml-apis.md
  skills/plateau-api/references/composite-urls.md
  skills/plateau-api/references/graphql.md
Labels: ci

docs(skills): document fully-qualified refs in release push command
  skills/RELEASE.md
Labels: none

fix(skills): install latest gh CLI for ci-skills, drop internal links from public README
  .github/workflows/ci-skills.yml
  skills/README.md
Labels: ci

fix(datacatalog): ignore fmt.Fprintf return value for hash.Hash writes
  server/datacatalog/plateauapi/inmemory.go
Labels: server

refactor(skills): rewrite plateau-api for AI agent consumption
  skills/plateau-api/SKILL.md
  skills/plateau-api/references/citygml-apis.md
  skills/plateau-api/references/composite-urls.md
  skills/plateau-api/references/graphql.md
Labels: none

feat(skills): accumulate commits on skills-dist branch
  .github/workflows/build-skills-dist.yml
  skills/RELEASE.md
Labels: ci

feat(skills): symlink plateau-api into project .claude/skills
  .claude/skills/plateau-api
  AGENTS.md
  skills/RELEASE.md
Labels: none

refactor(server): replace /proxy/* with purpose-built /odpt-proxy/*
  server/config.go
  server/proxy/proxy.go
  server/service.go
Labels: server

fix(server): handle fmt.Fprintf error in setRevisionETag
  server/datacatalog/etag.go
Labels: server

perf(server): stream citygml spatialid attributes to avoid OOM
  server/citygml/echo.go
  server/citygml/spatialid_attributes.go
  server/citygml/spatialid_attributes_test.go
Labels: server

feat(tile): add /tiles/catalog.json public endpoint with descriptions
  docs/src/content/docs/datasets/ortho.md
  docs/src/content/docs/datasets/terrain.md
  server/tiles/README.md
  server/tiles/tiles.go
  server/tiles/tiles_test.go
  server/tiles/tileserver.go
  server/tiles/tileserver_test.go
  tile/src/config.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
Labels: server

feat(tile): lazy config revalidation for multi-instance cache freshness
  tile/README.md
  tile/src/config.rs
  tile/src/main.rs
  tile/src/server/handlers.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
  tile/tests/common/server.rs
Labels: none

fix(tile): use origin-relative URLs in tilejson and catalog
  server/tiles/tileserver.go
  tile/src/server/handlers.rs
  tile/src/server/terrain.rs
Labels: server

fix(tile): harden cog_dem upstream-ETag against HEAD failure
  tile/src/terrain/cog_dem.rs
Labels: none

fix(tile): qmesh horizon occlusion so Cesium stops false-culling tiles
  tile/src/terrain/mesh_gen.rs
  tile/src/terrain/quantized_mesh/header.rs
Labels: none
