Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

feat(terraform): add plateauview-tile infrastructure and remove chiitiler (#491)
  .github/workflows/deploy-chiitiler.yml
  terraform/gcp/chiitiler.tf
  terraform/gcp/google_certificate_manager_certificate.tf
  terraform/gcp/google_certificate_manager_certificate_map.tf
  terraform/gcp/google_certificate_manager_certificate_map_entry.tf
  terraform/gcp/google_certificate_manager_dns_authorization.tf
  terraform/gcp/google_compute_backend_service.tf
  terraform/gcp/google_compute_global_address.tf
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_https_proxy.tf
  terraform/gcp/google_compute_url_map.tf
  terraform/gcp/google_dns_record_set.tf
  terraform/gcp/google_service_account.tf
  terraform/gcp/locals.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/chiitiler/google_cloud_run_v2_service.tf
  terraform/gcp/modules/chiitiler/google_storage_bucket.tf
  terraform/gcp/modules/chiitiler/outputs.tf
  terraform/gcp/modules/chiitiler/variables.tf
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_api/variables.tf
  terraform/gcp/modules/plateauview_tile/google_cloud_run_service_iam_member.tf
  terraform/gcp/modules/plateauview_tile/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_tile/google_compute_region_network_endpoint_group.tf
  terraform/gcp/modules/plateauview_tile/google_project.tf
  terraform/gcp/modules/plateauview_tile/outputs.tf
  terraform/gcp/modules/plateauview_tile/variables.tf
  terraform/gcp/plateauview_api.tf
  terraform/gcp/plateauview_tile.tf
Labels: terraform, ci

feat(server): add full-text search tool for PLATEAU specification documents
  go.work.sum
  server/datacatalog/datacatalogmcp/service.go
  server/go.mod
  server/go.sum
  server/mcp/README.md
  server/mcp/plateauspecmcp/client.go
  server/mcp/plateauspecmcp/search.go
  server/mcp/plateauspecmcp/search_test.go
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/tools_test.go
Labels: server

fix(server): handle empty FME conversion results as error
  server/cmsintegration/cmsintegrationv3/service_fme.go
Labels: server

fix(server): prevent Flow from overwriting existing data with empty arrays
  server/cmsintegration/cmsintflow/res.go
Labels: server

fix(server): correct CMS field key mapping for codelists and objectLists
  server/cmsintegration/cmsintegrationcommon/model.go
Labels: server

fix(server): use PublicAsset type for FeatureItem override fields to send URLs instead of asset IDs
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
Labels: server

feat(server): add per-feature-type Flow enablement in fme_flow mode
  server/cmsintegration/cmsintflow/handler.go
  server/plateaucms/metadata.go
  server/plateaucms/metadata_test.go
Labels: server

refactor(server): consolidate FME/Flow settings from Metadata to PlateauSpec
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/req_test.go
  server/cmsintegration/cmsintflow/res.go
  server/cmsintegration/cmsintflow/service.go
  server/cmsintegration/cmsintrelated/mock_test.go
  server/plateaucms/metadata.go
  server/plateaucms/metadata_test.go
  server/plateaucms/plateau_feature_type.go
  server/plateaucms/plateau_feature_type_test.go
  server/plateaucms/plateau_spec.go
  server/plateaucms/plateau_spec_test.go
Labels: server

feat(server): add per-feature-type Flow enablement in fme_flow mode
  server/cmsintegration/cmsintegrationcommon/model_test.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/flow_req.go
  server/cmsintegration/cmsintflow/req.go
  server/plateaucms/plateau_spec.go
  server/plateaucms/plateau_spec_test.go
Labels: server

fix(server): use standalone functions for converter enablement checks
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintflow/req.go
  server/plateaucms/plateau_spec.go
Labels: server

fix(server): normalize converter to lowercase and cleanup
  server/cmsintegration/cmsintflow/flow.go
  server/plateaucms/metadata_test.go
  server/plateaucms/plateau_spec.go
Labels: server

refactor(server): consolidate FME/Flow settings from Metadata to PlateauSpec (#492)
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationcommon/model_test.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/flow_req.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/req_test.go
  server/cmsintegration/cmsintflow/res.go
  server/cmsintegration/cmsintflow/service.go
  server/cmsintegration/cmsintrelated/mock_test.go
  server/plateaucms/metadata.go
  server/plateaucms/metadata_test.go
  server/plateaucms/plateau_feature_type.go
  server/plateaucms/plateau_feature_type_test.go
  server/plateaucms/plateau_spec.go
  server/plateaucms/plateau_spec_test.go
Labels: server

feat(cms): prioritize tilejson.json over metadata.json in MVT preview
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/imagery.test.ts
Labels: none

feat(cms): prioritize tilejson.json over metadata.json in MVT preview (#493)
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/imagery.test.ts
Labels: none

fix: retrieve JSON string attributes as an object
  extension/src/prototypes/view/selection/TileFeaturePropertiesSection.tsx
  extension/src/shared/plateau/featureInspector/utils.ts
  extension/src/shared/view/selection/GeneralFeaturePropertiesSection.tsx
Labels: none

fix: retrieve JSON string attributes as an object (#494)
  extension/src/prototypes/view/selection/TileFeaturePropertiesSection.tsx
  extension/src/shared/plateau/featureInspector/utils.ts
  extension/src/shared/view/selection/GeneralFeaturePropertiesSection.tsx
Labels: none

feat(cms): auto-detect and parse JSON string attributes in asset preview
  cms/web/src/components/atoms/ResiumViewer/sortProperty.test.ts
  cms/web/src/components/atoms/ResiumViewer/sortProperty.ts
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: none

feat(cms): auto-detect and parse JSON string attributes in asset preview (#495)
  cms/web/src/components/atoms/ResiumViewer/sortProperty.test.ts
  cms/web/src/components/atoms/ResiumViewer/sortProperty.ts
  cms/web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: none

feat(server): add Nominatim fallback for geocoding when GSI API is unavailable
  server/geocoding/echo.go
  server/geocoding/gsi.go
  server/geocoding/gsi_test.go
  server/geocoding/nominatim.go
  server/geocoding/nominatim_test.go
Labels: server

fix(server): update conversion status only after QC success in Flow
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintflow/service.go
Labels: server

fix(server): reset conversion status when starting QC+Conv in Flow
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/service.go
Labels: server

fix(server): set Host in datacatalog generator for lodstat MVT URL
  server/datacatalog_generator.go
Labels: server

feat(server): add multi-model support with priority-based selection
  server/datacatalog/datacatalogv3/cms_model.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_dataset_type.go
  server/datacatalog/datacatalogv3/conv_dataset_type_test.go
  server/datacatalog/datacatalogv3/conv_test.go
Labels: server

fix(server): recognize dictionary.json and improve QC+Conv status handling
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/req.go
Labels: server

feat(server): auto-detect derived feature type models from CMS
  server/datacatalog/datacatalogv3/cms.go
Labels: server

feat(server): filter priority comparison by ready status
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_test.go
  server/datacatalog/datacatalogv3/repos_test.go
Labels: server

feat(server): add multi-model support with priority-based selection (#496)
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/req.go
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/cms_model.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_dataset_type.go
  server/datacatalog/datacatalogv3/conv_dataset_type_test.go
  server/datacatalog/datacatalogv3/conv_test.go
  server/datacatalog/datacatalogv3/repos_test.go
Labels: server

fix(server): extract correct key from Flow output for urf/veg feature types
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

fix(server): use base feature type for derived type items in catalog
  server/datacatalog/datacatalogv3/conv.go
Labels: server

feat(server): add multi-model support for FME and Flow integration
  server/cmsintegration/cmsintegrationcommon/util.go
  server/cmsintegration/cmsintegrationcommon/util_test.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

refactor(server): use datacatalogv3.ParseAssetName for Flow output key extraction
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

feat(server): add plateau-flow model support in datacatalog
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/cms_model.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_seed.go
  server/datacatalog/datacatalogv3/model.go
Labels: server

feat(server): add metadata option to control Flow dataset output
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/model.go
  server/plateaucms/metadata.go
Labels: server

fix(server): register alpha-stage cities for Flow dataset conversion
  server/datacatalog/datacatalogv3/conv.go
Labels: server

fix(server): make keyword search case insensitive in plateauapi
  server/datacatalog/plateauapi/inmemory_filter.go
  server/datacatalog/plateauapi/inmemory_filter_test.go
Labels: server

feat(server): add Flow task cancellation when status changes
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintflow/cancel.go
  server/cmsintegration/cmsintflow/cancel_test.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/res.go
  server/cmsintegration/cmsintflow/service.go
Labels: server

fix(server): include public city datasets regardless of item status
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_test.go
Labels: server

enhance Flow task cancellation with trigger ID support
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintflow/cancel.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/service.go
Labels: server

fix(server): skip conversion webhook while QC is running in Flow
  server/cmsintegration/cmsintflow/req.go
Labels: server

feat: update @reearth/cesium-mvt-imagery-provider and build core
  editor/core/dist/core.js
  editor/core/dist/core.umd.cjs
  editor/core/dist/package.json
  editor/core/package.json
  editor/core/yarn.lock
  editor/web/yarn.lock
Labels: none

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
