Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

fix(extension): correct return type and data structure in useGeocodingLazy
  extension/src/prototypes/view/hooks/useReverseGeocoder.ts
  extension/src/shared/api/geocoding.ts
Labels: none

feat(extension): add REST API client for geocoding service (#490)
  extension/src/prototypes/view/hooks/useReverseGeocoder.ts
  extension/src/shared/api/geocoding.ts
Labels: none

fix(server): use project-specific CMS token and improve metadata filtering
  server/datacatalog_generator.go
  server/main.go
  server/plateaucms/metadata.go
Labels: server

fix(server): use CMS_TokenProject for getAllV3Projects
  server/main.go
Labels: server

feat(server): add cache skip logic and update-cache API notification
  go.work
  go.work.sum
  server/config.go
  server/datacatalog/datacatalogv3/storage.go
  server/datacatalog_generator.go
  server/go.mod
  server/go.sum
  server/main.go
Labels: server

feat(server): add debug logs for update-cache API configuration
  server/main.go
Labels: server

chore: update Go to 1.25 and golangci-lint to v2.7
  .github/workflows/ci-server.yml
  .github/workflows/ci-worker.yml
  go.work.sum
  worker/.gitignore
  worker/go.mod
  worker/go.sum
Labels: ci

fix: resolve lint errors and update Dockerfiles to Go 1.25
  server/Dockerfile
  worker/Dockerfile
  worker/citygmlpacker/command.go
  worker/citygmlpacker/download.go
  worker/citygmlpacker/packer.go
  worker/citygmlpacker/packer_gml.go
  worker/citygmlpacker/packer_zip.go
  worker/lodstat/main.go
  worker/preparegspatialjp/cms_wrapper.go
  worker/preparegspatialjp/generate_citygml.go
  worker/preparegspatialjp/generate_plateau.go
  worker/preparegspatialjp/index_related_test.go
  worker/preparegspatialjp/index_util_test.go
  worker/preparegspatialjp/zip2zip_test.go
  worker/workerutil/file.go
  worker/workerutil/zip2zip_test.go
Labels: server

fix(server): add missing items schema to MCP array parameters
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/service.go
  server/go.mod
  server/go.sum
Labels: server

feat(server): add readOnlyHint to MCP tools and update README
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/service.go
Labels: server

feat(server): add plateau_explain_spatial_id tool
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/service.go
  server/datacatalog/datacatalogmcp/spatial_id.md
Labels: server

feat(server): integrate datacatalog MCP tools into /mcp endpoint
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/register.go
  server/datacatalog/repos.go
  server/datacatalog/v3.go
  server/mcp/config.go
  server/mcp/http.go
  server/mcp/server.go
  server/service.go
Labels: server

refactor(server): extract plateauspecmcp into separate subpackage
  server/mcp/README.md
  server/mcp/plateauspecmcp/client.go
  server/mcp/plateauspecmcp/resources.go
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/types.go
  server/mcp/server.go
  server/mcp/spec_resources.go
  server/mcp/spec_tools.go
Labels: server

fix(server): consolidate plateau spec MCP tools and improve formatting
  server/mcp/README.md
  server/mcp/plateauspecmcp/client.go
  server/mcp/plateauspecmcp/resources.go
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/types.go
Labels: server

refactor(server): extract metanorma2md package and add MCP tools tests
  server/mcp/metanorma2md/.gitignore
  server/mcp/metanorma2md/converter.go
  server/mcp/metanorma2md/converter_test.go
  server/mcp/metanorma2md/example_test.go
  server/mcp/metanorma2md/list.go
  server/mcp/metanorma2md/list_test.go
  server/mcp/metanorma2md/media.go
  server/mcp/metanorma2md/media_test.go
  server/mcp/metanorma2md/table.go
  server/mcp/metanorma2md/table_test.go
  server/mcp/metanorma2md/term.go
  server/mcp/metanorma2md/term_test.go
  server/mcp/metanorma2md/text.go
  server/mcp/metanorma2md/text_test.go
  server/mcp/plateauspecmcp/client.go
  server/mcp/plateauspecmcp/testdata/toc1_output.md
  server/mcp/plateauspecmcp/testdata/toc7_output.md
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/tools_test.go
Labels: server

fix(server): support subdirectory structure for GCS datacatalog cache
  server/datacatalog/datacatalogv3/storage.go
Labels: server

feat(server): improve metanorma2md formatting for tables, terms, and bibliography
  server/mcp/metanorma2md/.gitignore
  server/mcp/metanorma2md/converter.go
  server/mcp/metanorma2md/example_test.go
  server/mcp/metanorma2md/table.go
  server/mcp/metanorma2md/table_test.go
  server/mcp/metanorma2md/term.go
  server/mcp/metanorma2md/term_test.go
  server/mcp/metanorma2md/text.go
Labels: server

docs(server/mcp): update MCP protocol version to 2025-06-18
  server/mcp/README.md
Labels: server

fix(server): handle map[string]any in AdminFrom for JSON cache compatibility
  server/datacatalog/datacatalogmcp/citygml_types.go
  server/datacatalog/datacatalogmcp/service_test.go
  server/datacatalog/datacatalogmcp/types.go
  server/datacatalog/datacatalogv3/writer.go
  server/datacatalog/plateauapi/models.go
  server/mcp/http.go
  server/mcp/plateauspecmcp/resources.go
  server/mcp/server.go
Labels: server

feat(server): improve MCP with spatial ID guidance, glossary, and hints
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/citygml_types.go
  server/datacatalog/datacatalogmcp/resources.go
  server/datacatalog/datacatalogmcp/spatial_id.md
  server/mcp/plateauspecmcp/resources.go
  server/mcp/server.go
  server/openapi/openapi.yml
Labels: server

fix(ci): add retry logic for GHCR login and pull in prod deploy
  .github/workflows/deploy-server-prod.yml
Labels: ci

fix(server): deduplicate MCP handler logic and remove OpenAPI LOD1 desc
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/openapi/openapi.yml
Labels: server

docs(server): add asset naming guide for datacatalogv3 [skip ci]
  server/datacatalog/datacatalogv3/ASSET_NAMING_GUIDE.md
Labels: server

fix(server): add maxlod_status fallback for lodstat detection in FME
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
Labels: server

feat(extension): support TileJSON for MVT metadata with legacy fallback
  extension/src/shared/reearth/layers/mvt.ts
Labels: none

refactor(server): replace MCP spec fetcher with plateaudocs library
  go.work
  go.work.sum
  server/go.mod
  server/go.sum
  server/mcp/metanorma2md/.gitignore
  server/mcp/metanorma2md/converter.go
  server/mcp/metanorma2md/converter_test.go
  server/mcp/metanorma2md/example_test.go
  server/mcp/metanorma2md/list.go
  server/mcp/metanorma2md/list_test.go
  server/mcp/metanorma2md/media.go
  server/mcp/metanorma2md/media_test.go
  server/mcp/metanorma2md/table.go
  server/mcp/metanorma2md/table_test.go
  server/mcp/metanorma2md/term.go
  server/mcp/metanorma2md/term_test.go
  server/mcp/metanorma2md/text.go
  server/mcp/metanorma2md/text_test.go
  server/mcp/plateauspecmcp/client.go
  server/mcp/plateauspecmcp/resources.go
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/tools_test.go
  server/mcp/plateauspecmcp/types.go
Labels: server

feat(server): force datacatalog cache update after 5 minutes
  server/datacatalog_generator.go
Labels: server

fix(ci): use build tag instead of latest for prod deploy
  .github/workflows/deploy-server-prod.yml
  server/bin/watch-and-deploy-prod.sh
Labels: server, ci

fix(ci): use buildx imagetools for reliable tag creation
  .github/workflows/push-image.yml
Labels: ci

fix(ci): use digest for Cloud Run deploy to ensure correct image
  .github/workflows/deploy-server-prod.yml
Labels: ci

fix(server): fix GCS cache issues and double path bug
  server/datacatalog/datacatalogv3/storage.go
  server/main.go
Labels: server

feat(server): add Flow IDs to CMS error comments for debugging
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

fix(server): add detailed logging and fix FME nil pointer panic
  server/cmsintegration/cmsintegrationv3/fme.go
  server/cmsintegration/cmsintegrationv3/handler.go
  server/cmsintegration/cmsintegrationv3/service.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
  server/cmsintegration/cmsintegrationv3/webhook.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/cmsintflow/req.go
Labels: server

fix(server): improve FME URL error message with specific guidance
  server/cmsintegration/cmsintegrationv3/service_fme.go
Labels: server

fix(tile): update Rust to 1.85 for edition 2024 support
  tile/Dockerfile
Labels: none

fix(ci): use dev GCP project for tile dev deployment
  .github/workflows/deploy-tile-dev.yml
Labels: ci

feat(tile): add maplibre layer type support (ignored for now)
  tile/src/config.rs
  tile/src/server/state.rs
Labels: none

docs(tile): add AGENTS.md and upgrade to Rust edition 2024
  tile/AGENTS.md
  tile/CLAUDE.md
  tile/Cargo.toml
  tile/src/main.rs
Labels: none

feat(tile): add configurable CORS support via CORS_ORIGINS env var
  tile/AGENTS.md
  tile/Cargo.toml
  tile/src/cog/interpolate.rs
  tile/src/cog/reader.rs
  tile/src/main.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/tile/cog.rs
  tile/src/tile/composite.rs
  tile/src/tile/mod.rs
  tile/tests/common/mock_cog.rs
  tile/tests/common/server.rs
  tile/tests/e2e_api_test.rs
  tile/tests/e2e_cog_test.rs
  tile/tests/e2e_xyz_test.rs
Labels: none

ci(tile): pin Rust 1.85 for tile CI
  .github/workflows/ci-tile.yml
Labels: ci
