Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

test(e2e): use webkit for smoke test
  e2e/CLAUDE.md
  e2e/package.json
  e2e/pages/BasePage.ts
  e2e/playwright.config.ts
  e2e/tests/basic.spec.ts
  e2e/tests/menu.spec.ts
  e2e/tests/smoke/basic.spec.ts
  e2e/utils/index.ts
Labels: none

test(e2e): fix timeout
  e2e/pages/BasePage.ts
  e2e/pages/MenuPage.ts
  e2e/playwright.config.ts
  e2e/tests/basic.spec.ts
Labels: none

test(e2e): simplify test, add github workflow
  .github/workflows/e2e.yml
  e2e/CLAUDE.md
  e2e/README.md
  e2e/pages/BasePage.ts
  e2e/pages/MenuPage.ts
  e2e/pages/ToolbarPage.ts
  e2e/playwright.config.ts
Labels: ci

test(e2e): add building selection test
  e2e/pages/BuildingPage.ts
  e2e/pages/index.ts
  e2e/tests/building-click.spec.ts
Labels: none

test(e2e): fix building testing
  .github/workflows/e2e.yml
  e2e/pages/AttributesPage.ts
  e2e/pages/index.ts
  e2e/playwright.config.ts
  e2e/tests/attributes.spec.ts
  e2e/tests/building-click.spec.ts
  e2e/utils/index.ts
  e2e/utils/wait.ts
Labels: ci

test(e2e): fix attributes test
  e2e/tests/attributes.spec.ts
  e2e/utils/index.ts
  e2e/utils/wait.ts
Labels: none

test(e2e): increase timeout, cache browsers
  .github/workflows/e2e.yml
  e2e/playwright.config.ts
Labels: ci

refactor(e2e): refactor utils and pom
  .github/workflows/e2e.yml
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/AttributesPage.ts
  e2e/pages/BasePage.ts
  e2e/pages/BuildingPage.ts
  e2e/pages/MenuPage.ts
  e2e/pages/ToolbarPage.ts
  e2e/playwright.config.ts
  e2e/tests/attributes.spec.ts
  e2e/tests/basic.spec.ts
  e2e/tests/menu.spec.ts
  e2e/tsconfig.json
  e2e/types/custom.d.ts
  e2e/utils/index.ts
  e2e/utils/wait.ts
Labels: ci

refactor(e2e): use selectors on pom
  e2e/CLAUDE.md
  e2e/pages/AttributesPage.ts
  e2e/pages/BasePage.ts
  e2e/pages/BuildingPage.ts
  e2e/pages/CanvasPage.ts
  e2e/pages/MenuPage.ts
  e2e/pages/ToolbarPage.ts
  e2e/pages/index.ts
  e2e/tests/attributes.spec.ts
Labels: none

feat: add https redirect to user-facing load balancers
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_http_proxy.tf
  terraform/gcp/google_compute_url_map.tf
Labels: terraform

chore: add HTTPS redirect to user-facing load balancers (#480)
  terraform/gcp/google_compute_global_forwarding_rule.tf
  terraform/gcp/google_compute_target_http_proxy.tf
  terraform/gcp/google_compute_url_map.tf
Labels: terraform

test(e2e): add e2e tests for search box
  e2e/pages/SearchPage.ts
  e2e/tests/search/search.spec.ts
Labels: none

fix: show global in type list
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

test: fix e2e test
  e2e/pages/index.ts
Labels: none

feat: plateau mcp server (experimental)
  server/go.mod
  server/go.sum
  server/mcp/client.go
  server/mcp/handlers.go
  server/mcp/http.go
  server/mcp/resources.go
  server/mcp/server.go
  server/mcp/spec_resources.go
  server/mcp/spec_tools.go
  server/mcp/types.go
  server/service.go
Labels: server

docs(server): update plateau-view-data-flow
  server/CLAUDE.md
  server/docs/plateau-view-data-flow.md
Labels: server

feat(server): add cli option to output datacatalog cache
  server/datacatalog/datacatalogv3/repos.go
  server/datacatalog/datacatalogv3/writer.go
  server/datacatalog_generator.go
  server/docs/plateau-view-data-flow.md
  server/main.go
  server/mcp/client.go
  server/mcp/handlers.go
Labels: server

docs: add AGENTS.md
  AGENTS.md
  CLAUDE.md
  e2e/AGENTS.md
  e2e/CLAUDE.md
  server/AGENTS.md
  server/CLAUDE.md
Labels: server

test: add e2e test to base map switching func
  e2e/.gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/attributes.spec.ts
  e2e/tests/map.spec.ts
  e2e/utils/imageCompare.ts
Labels: none

feat(server): add lodstat-mvt api
  server/config.go
  server/datacatalog/citygml.go
  server/datacatalog/citygml_files.go
  server/datacatalog/lod.go
  server/go.mod
  server/go.sum
  server/lodstat/api.go
  server/lodstat/api_test.go
  server/lodstat/echo.go
  server/service.go
Labels: server

chore: go mod tidy
  server/go.mod
Labels: server

feat: add lod{n} properties
  server/lodstat/echo.go
Labels: server

feat(server): add lodstat-mvt api (#482)
  server/config.go
  server/datacatalog/citygml.go
  server/datacatalog/citygml_files.go
  server/datacatalog/lod.go
  server/go.mod
  server/go.sum
  server/lodstat/api.go
  server/lodstat/api_test.go
  server/lodstat/echo.go
  server/service.go
Labels: server

fix(server): lodstat should work for all feature types
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintlodstat/handler.go
Labels: server

fix(server): lodstat should update metadata
  server/cmsintegration/cmsintlodstat/handler.go
  server/plateaucms/plateau_feature_type.go
Labels: server

fix(server,worker): add more logging to lodstat
  server/cmsintegration/cmsintlodstat/handler.go
  worker/lodstat/main.go
Labels: server

chore(worker): fix dockerfile
  worker/Dockerfile
Labels: none

chore(server): fix dockerfile
  worker/Dockerfile
Labels: none

fix(server): lodstat field name
  server/cmsintegration/cmsintlodstat/handler.go
  server/plateaucms/plateau_feature_type.go
Labels: server

fix(server): item metadata handling
  server/cmsintegration/cmsintegrationcommon/cms.go
  server/cmsintegration/cmsintlodstat/handler.go
Labels: server

fix(worker): fix lodstat csv name
  worker/lodstat/main.go
Labels: none

fix(server): fix lodstat error handling
  server/cmsintegration/cmsintegrationcommon/cms.go
  server/cmsintegration/cmsintlodstat/handler.go
Labels: server

feat(worker): changed lod counting to occur once per feature
  worker/lodstat/main.go
Labels: none

Update worker/lodstat/main.go
  worker/lodstat/main.go
Labels: none

chore: fix lint
  worker/lodstat/main.go
Labels: none

feat(worker): changed lod counting to occur once per feature (#483)
  worker/lodstat/main.go
Labels: none

feat(server): skip uploading maxlod if lodstat is enabled
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

test(server): fix test error
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
Labels: server

fix(server): add maxlod property to lodstat mvt, add tilejson
  server/lodstat/api.go
  server/lodstat/echo.go
  server/lodstat/lodstat.go
  server/lodstat/lodstat_test.go
  server/lodstat/tilejson.go
Labels: server

fix(server): add support of qa_result_ok in cmsintflow
  server/cmsintegration/cmsintflow/flow_res.go
  server/cmsintegration/cmsintflow/flow_res_test.go
Labels: server

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
