Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

docs(tool): add post-setup instructions for workspaces registration
  server/tool/README.md
Labels: server

chore: update go.work.sum
  go.work.sum
Labels: none

feat(server): add PLATEAU Data Catalog MCP server with proper MCP protocol support
  go.work.sum
  server/datacatalog/mcp/README.md
  server/datacatalog/mcp/convert.go
  server/datacatalog/mcp/convert_test.go
  server/datacatalog/mcp/service.go
  server/datacatalog/mcp/service_test.go
  server/datacatalog/mcp/transform.go
  server/datacatalog/mcp/transform_test.go
  server/datacatalog/mcp/types.go
  server/datacatalog/repos.go
  server/datacatalog/v3.go
Labels: server

fix(server): rename mcp server module
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/convert.go
  server/datacatalog/datacatalogmcp/convert_test.go
  server/datacatalog/datacatalogmcp/service.go
  server/datacatalog/datacatalogmcp/service_test.go
  server/datacatalog/datacatalogmcp/transform.go
  server/datacatalog/datacatalogmcp/transform_test.go
  server/datacatalog/datacatalogmcp/types.go
  server/datacatalog/v3.go
Labels: server

fix(server): update route registration for Streamable HTTP server
  server/datacatalog/datacatalogmcp/service.go
Labels: server

fix(server): disable GET endpoint for MCP server to prevent hanging connections
  server/datacatalog/datacatalogmcp/service.go
Labels: server

fix(server): disable SSE streaming in MCP server for better client compatibility
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/service.go
  server/go.mod
  server/go.sum
Labels: server

ci(server): add automated production deployment scripts
  server/bin/watch-and-deploy-server-prod.sh
  server/bin/watch-and-deploy-worker-prod.sh
Labels: server

fix(server): prevent nil pointer panics in MCP transform functions
  server/datacatalog/datacatalogmcp/transform.go
  server/datacatalog/datacatalogmcp/transform_test.go
Labels: server

refactor(server): consolidate deployment scripts into unified script
  server/bin/watch-and-deploy-prod.sh
  server/bin/watch-and-deploy-server-prod.sh
  server/bin/watch-and-deploy-worker-prod.sh
Labels: server

docs(server): improve MCP server setup instructions for multiple AI clients
  server/datacatalog/datacatalogmcp/README.md
Labels: server

feat(server): add CityGML MCP tools for attribute and feature access
  server/citygml/geoid.go
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/citygml_types.go
  server/datacatalog/datacatalogmcp/service.go
  server/datacatalog/datacatalogmcp/service_test.go
  server/datacatalog/v3.go
Labels: server

feat(server): add feature type filtering to CityGML files API
  server/datacatalog/citygml_files.go
  server/datacatalog/datacatalogmcp/README.md
  server/datacatalog/datacatalogmcp/citygml_handlers.go
  server/datacatalog/datacatalogmcp/citygml_types.go
  server/datacatalog/repos.go
  server/openapi/openapi.yml
Labels: server

docs(server): fix Claude Desktop free plan MCP configuration
  server/datacatalog/datacatalogmcp/README.md
Labels: server

fix: handle the suffix as a sample data
  extension/src/shared/constants/dataset.ts
  extension/src/shared/graphql/hooks/catalog/area.ts
Labels: none

Update extension/src/shared/graphql/hooks/catalog/area.ts
  extension/src/shared/graphql/hooks/catalog/area.ts
Labels: none

Update extension/src/shared/graphql/hooks/catalog/area.ts
  extension/src/shared/graphql/hooks/catalog/area.ts
Labels: none

fix: handle the suffix as a sample data (#486)
  extension/src/shared/constants/dataset.ts
  extension/src/shared/graphql/hooks/catalog/area.ts
Labels: none

fix: dataset type list
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

fix: dataset type list (#487)
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

fix: update reearthx dependency to the latest version
  server/go.mod
  server/go.sum
Labels: server

fix: support option segment in CityGML folder naming convention
  server/datacatalog/datacatalogv3/conv_asset.go
  server/datacatalog/datacatalogv3/conv_asset_test.go
  tools/plateau-view-tool/src/prepare/check.rs
Labels: server

fix(server): enhance logging in cmsintflow notify handler for debugging
  server/cmsintegration/cmsintflow/res.go
Labels: server

fix: update asset id
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

Update Scene.tsx
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix: update asset id (#489)
  extension/src/shared/reearth/scene/Scene.tsx
Labels: none

fix(server): notify when no assets returned from flow for conversion
  server/cmsintegration/cmsintflow/res.go
Labels: server

feat(server): add geocoding service with GSI reverse geocoding API
  server/config.go
  server/geocoding/areas.go
  server/geocoding/areas_test.go
  server/geocoding/assets/areaCodes.json
  server/geocoding/assets/areaRadii.json
  server/geocoding/echo.go
  server/geocoding/generated.go
  server/geocoding/gqlgen.yml
  server/geocoding/gsi.go
  server/geocoding/gsi_test.go
  server/geocoding/models_gen.go
  server/geocoding/resolver.go
  server/geocoding/schema.graphql
  server/geocoding/schema.resolvers.go
  server/service.go
Labels: server

refactor(server): convert geocoding from GraphQL to REST API
  server/geocoding/echo.go
  server/geocoding/generated.go
  server/geocoding/gqlgen.yml
  server/geocoding/gsi.go
  server/geocoding/models_gen.go
  server/geocoding/resolver.go
  server/geocoding/schema.graphql
  server/geocoding/schema.resolvers.go
Labels: server

feat(server): add datacatalog cache generation and GCS storage support
  .github/workflows/deploy-server-job-dev.yml
  .github/workflows/deploy-server-job-prod.yml
  .github/workflows/run-server-job-dev.yml
  .github/workflows/run-server-job-prod.yml
  server/AGENTS.md
  server/config.go
  server/datacatalog/datacatalogv3/storage.go
  server/datacatalog/datacatalogv3/storage_test.go
  server/datacatalog/echo.go
  server/datacatalog/plateauapi/json.go
  server/datacatalog/plateauapi/repos.go
  server/datacatalog/repos.go
  server/datacatalog/v3.go
  server/datacatalog_generator.go
  server/main.go
Labels: server, ci

ci: trigger deploy-server-job-dev from CI after push-server
  .github/workflows/ci.yml
Labels: ci

ci: deploy Cloud Run Job together with Cloud Run Service
  .github/workflows/ci.yml
  .github/workflows/deploy-server-dev.yml
  .github/workflows/deploy-server-job-dev.yml
  .github/workflows/deploy-server-job-prod.yml
  .github/workflows/deploy-server-prod.yml
Labels: ci

fix(server): set QC status to error when QC detects errors
  server/cmsintegration/cmsintflow/res.go
Labels: server

feat(server): improve datacatalog cache system
  .github/workflows/run-server-job-dev.yml
  .github/workflows/run-server-job-prod.yml
  server/datacatalog/datacatalogv2/datacatalogv2adapter/repos.go
  server/datacatalog/datacatalogv3/repos.go
  server/datacatalog/datacatalogv3/storage.go
  server/datacatalog/repos.go
  server/main.go
Labels: server, ci

fix(ci): check workflow SHA instead of timestamp in watch-and-deploy script
  server/bin/watch-and-deploy-prod.sh
Labels: server

fix(server): use ENTRYPOINT instead of CMD in Dockerfile
  server/Dockerfile
Labels: server

feat(server): support generating datacatalog cache for all v3 projects
  .github/workflows/run-server-job-dev.yml
  .github/workflows/run-server-job-prod.yml
  server/main.go
  server/plateaucms/metadata.go
Labels: server, ci

fix(ci): avoid args override when using default (all v3 projects)
  .github/workflows/run-server-job-dev.yml
  .github/workflows/run-server-job-prod.yml
Labels: ci

feat(extension): use REST API for reverse geocoding instead of GraphQL
  extension/src/prototypes/view/hooks/useReverseGeocoder.ts
  extension/src/shared/api/geocoding.ts
Labels: none

feat(extension): add REST API client for geocoding service
  extension/src/shared/api/geocoding.ts
Labels: none

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
