Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

chore(server): add features and file size to CityGMLFile
  server/datacatalog/citygml.go
  server/datacatalog/citygml_csv.go
  server/datacatalog/citygml_csv_test.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/repos_test.go
  server/openapi/openapi.yml
Labels: server

feat(server): add props to lodstat mvt
  server/lodstat/api.go
  server/lodstat/echo.go
  server/lodstat/lodstat.go
  server/lodstat/lodstat_test.go
  server/lodstat/mvt.go
  server/lodstat/tilejson.go
Labels: server

fix(server): fix lodstat data catalog item
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/cms_test.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/model.go
  server/datacatalog/datacatalogv3/repos.go
  server/datacatalog/datacatalogv3/repos_test.go
  server/datacatalog/echo.go
  server/datacatalog/repos.go
Labels: server

fix(server): data race in data catalog
  server/datacatalog/citygml_csv.go
Labels: server

fix(server): lodstat mvt path and zoom level, add auto level
  server/datacatalog/datacatalogv3/conv.go
  server/lodstat/echo.go
  server/lodstat/echo_test.go
  server/lodstat/tilejson.go
Labels: server

fix(server): aggregate different level meshes on lodstat mvt
  server/lodstat/api.go
  server/lodstat/lodstat.go
  server/lodstat/lodstat_test.go
  server/lodstat/tilejson.go
Labels: server

perf(server): download maxlod csv with gzip in data catalog
  server/datacatalog/citygml_csv.go
  server/datacatalog/citygml_csv_test.go
Labels: server

perf(server): optimize citygml api response time
  server/datacatalog/citygml.go
  server/datacatalog/echo.go
  server/datacatalog/repos.go
Labels: server

fix(server): change desc of lodstat dataset
  server/datacatalog/datacatalogv3/conv.go
Labels: server

fix(worker): fix misc path handling in preparegspatialjp
  worker/preparegspatialjp/generate_citygml.go
  worker/preparegspatialjp/generate_citygml_test.go
Labels: none

fix(worker): support lodstat merging
  worker/preparegspatialjp/command.go
  worker/preparegspatialjp/generate_lodstat.go
  worker/preparegspatialjp/generate_maxlod.go
  worker/preparegspatialjp/validate_lodstat.go
  worker/preparegspatialjp/validate_maxlod.go
Labels: none

ci: do ci and build at the same time
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-worker.yml
  .github/workflows/ci-server.yml
  .github/workflows/ci-worker.yml
  .github/workflows/ci.yml
  .github/workflows/push-image.yml
Labels: ci

fix(worker): incorrect lodstat csv validation
  worker/preparegspatialjp/generate_lodstat.go
Labels: none

fix(server): add Host to datacatalog config for absolute lodstat URLs
  server/config.go
Labels: server

fix(server): fix double https in lodstat URL generation
  server/datacatalog/datacatalogv3/conv.go
Labels: server

ci: fix build workflows
  .github/workflows/build-geo.yml
  .github/workflows/build-server.yml
  .github/workflows/build-worker.yml
  .github/workflows/ci.yml
  .github/workflows/push-image.yml
Labels: ci

fix: allow loading MVT without metadata
  extension/src/shared/reearth/layers/mvt.ts
Labels: none

fix: show global in type list (#481)
  extension/src/prototypes/view/ui-containers/DatasetTypeList.tsx
Labels: none

fix: allow loading MVT without metadata (#484)
  extension/src/shared/reearth/layers/mvt.ts
Labels: none

Refactor code structure for improved readability and maintainability
  .github/workflows/build-cms-server.yml
  .github/workflows/build-cms-web.yml
  .github/workflows/build-cms-worker.yml
  .github/workflows/ci-cms-server.yml
  .github/workflows/ci-cms-web.yml
  .github/workflows/ci-cms-worker.yml
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
  go.work
  go.work.sum
Labels: ci

fix: update cms module paths and integrate cms workflows into ci
  .github/workflows/ci.yml
  cms/worker/go.mod
  cms/worker/go.sum
  go.work.sum
Labels: ci

fix: correct workflow paths and configurations for CMS
  .github/workflows/ci-cms-server.yml
  .github/workflows/ci-cms-web.yml
  .github/workflows/ci-cms-worker.yml
Labels: ci

fix: disable nginx validation for CMS web
  .github/workflows/ci-cms-web.yml
Labels: ci

fix: use correct Yarn 1.x lock file for cms/web
  .github/workflows/ci-cms-web.yml
  cms/web/.yarn/install-state.gz
  cms/web/yarn.lock
Labels: ci

fix: specify exact yarn.lock path for cms/web caching
  .github/workflows/ci-cms-web.yml
Labels: ci

fix: add golangci.yml config for CMS linting
  cms/.golangci.yml
Labels: none

fix: include cms/.golangci.yml in change detection
  .github/workflows/ci.yml
Labels: ci

chore: trigger CI for cms-server to test workflows
  cms/server/.trigger-ci
Labels: none

fix: correct golangci.yml path to ../.golangci.yml
  .github/workflows/ci-cms-server.yml
  .github/workflows/ci-cms-worker.yml
Labels: ci

fix: update gqlgen.yml module paths for monorepo
  cms/server/gqlgen.yml
Labels: none

fix: regenerate GraphQL code with updated module paths
  cms/server/internal/adapter/gql/generated.go
  cms/server/internal/adapter/gql/resolver_item.go
Labels: none

fix: update Go version to 1.24.4 in CMS modules
  cms/server/go.mod
  cms/worker/go.mod
Labels: none

fix: clean up go.sum in cms/worker
  cms/worker/go.sum
Labels: none

fix: format go.mod in cms/worker
  cms/worker/go.mod
Labels: none

fix: update CMS deploy workflows to use correct image names
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
Labels: ci

chore: add git hook to remove Claude Code signatures
  .githooks/README.md
  .githooks/commit-msg
  .githooks/setup.sh
Labels: none

chore: remove .githooks directory
  .githooks/README.md
  .githooks/commit-msg
  .githooks/setup.sh
Labels: none

fix(server): add system-project parameter to setup-city-items tool
  server/main.go
  server/tool/README.md
  server/tool/setup-city-items.go
  server/tool/tool.go
Labels: server

feat(server): add G-spatial.jp dataset URL to CityGML GraphQL type
  server/datacatalog/datacatalogv3/conv_citygml.go
  server/datacatalog/datacatalogv3/conv_citygml_test.go
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/schema.graphql
Labels: server

docs: add reminder to read server docs before making changes
  AGENTS.md
Labels: none

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
