Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

fix(extension): fix help contents
  extension/src/prototypes/view/selection/LayerSpatialIdSection.tsx
  extension/src/prototypes/view/selection/SpatialIdObjectContent.tsx
  extension/src/prototypes/view/ui-containers/ToolButtons.tsx
  extension/src/shared/ui-components/HelpModal/ControllersPage.tsx
  extension/src/shared/ui-components/HelpModal/UserInterfacePage.tsx
  extension/src/shared/ui-components/HelpModal/assets/help-ui-overview.webp
Labels: none

fix(extension): fix gap of help content
  extension/src/prototypes/view/selection/SpatialIdObjectContent.tsx
  extension/src/shared/ui-components/HelpModal/UserInterfacePage.tsx
Labels: none

fix(server): sdk api was broken
  server/datacatalog/citygml.go
  server/datacatalog/plateauapi/resolver.go
  server/main.go
Labels: server

chore(server): fix warning, fix ci
  .github/workflows/ci-server.yml
  server/go.mod
Labels: server, ci

chore(server): fix golangci-lint error
  server/cmsintegration/cmsintegrationv2/geospatialjpv2/cell.go
Labels: server

chore(server): fix dockerfile
  server/Dockerfile
Labels: server

fix(server): graphql handler did not work
  server/datacatalog/plateauapi/resolver.go
Labels: server

ci: rename workflow files
  .github/workflows/deploy-accounts-dev.yml
  .github/workflows/deploy-accounts-prod.yml
  .github/workflows/deploy-editor-dev.yml
  .github/workflows/deploy-editor-prod.yml
  .github/workflows/deploy-flow-dev.yml
  .github/workflows/deploy-flow-prod.yml
  server/Dockerfile
Labels: server, ci

fix(package): remove packageManager field and clean up resolutions
  editor/core/.yarn/releases/yarn-classic.cjs
  editor/core/package.json
Labels: none

fix(terraform): add IAM roles and environment variables for plateauview API
  terraform/gcp/google_project_iam_member.tf
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_api/variables.tf
  terraform/gcp/plateauview_api.tf
Labels: terraform

fix(terraform): fix cms archive extraction, add plateauview-api env (#459)
  terraform/gcp/google_project_iam_member.tf
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
  terraform/gcp/modules/plateauview_api/variables.tf
  terraform/gcp/plateauview_api.tf
Labels: terraform

fix: use KML style
  extension/src/shared/layerContainers/myData.tsx
Labels: none

fix: transparent color should work in conditional color expression
  extension/src/shared/helpers/expression.ts
Labels: none

fix: use KML style (#460)
  extension/src/shared/layerContainers/myData.tsx
Labels: none

refactor: replace Markdown component with ViewMarkdownViewer for improved rendering
  extension/src/shared/ui-components/common/ViewMarkdownViewer.tsx
  extension/src/shared/view/fields/general/LayerDatasetStoryField.tsx
  extension/src/shared/view/fields/general/LayerLayerDescriptionField.tsx
  extension/src/shared/view/selection/LegendDescriptionSection.tsx
Labels: none

refactor(extension): improve markdown rendering (#462)
  extension/src/shared/ui-components/common/ViewMarkdownViewer.tsx
  extension/src/shared/view/fields/general/LayerDatasetStoryField.tsx
  extension/src/shared/view/fields/general/LayerLayerDescriptionField.tsx
  extension/src/shared/view/selection/LegendDescriptionSection.tsx
Labels: none

fix: transparent color should work in conditional color expression (#461)
  extension/src/shared/helpers/expression.ts
Labels: none

ci(editor): refactor editor ci/cd
  .github/workflows/build-editor.yml
  .github/workflows/ci-editor.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-editor-dev.yml
  .github/workflows/pr-title.yml
  editor/.gitignore
Labels: ci

ci(editor): use yarn@4.9.1 in core
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): disable upload yarn files
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): refactor editor ci/cd (#463)
  .github/workflows/build-editor.yml
  .github/workflows/ci-editor.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-editor-dev.yml
  .github/workflows/pr-title.yml
  editor/.gitignore
Labels: ci

ci(editor): fix required inputs
  .github/workflows/build-editor.yml
  .github/workflows/ci-editor.yml
Labels: ci

ci(editor): fix required inputs (#464)
  .github/workflows/build-editor.yml
  .github/workflows/ci-editor.yml
Labels: ci

ci(editor): fix outputs from prepare job
  .github/workflows/ci.yml
Labels: ci

ci(editor): fix outputs from prepare job (#465)
  .github/workflows/ci.yml
Labels: ci

ci(editor): init eslint and golangci configuration
  .github/workflows/build-editor.yml
  editor/core/.eslintignore
  editor/core/.eslintrc.yml
  editor/server/.golangci.yml
Labels: ci

ci(editor): init eslint and golangci configuration (#466)
  .github/workflows/build-editor.yml
  editor/core/.eslintignore
  editor/core/.eslintrc.yml
  editor/server/.golangci.yml
Labels: ci

ci(editor): inherit secrets for build
  .github/workflows/ci.yml
  editor/web/package.json
Labels: ci

ci(editor): revert core reference to file
  editor/web/Dockerfile
  editor/web/package.json
Labels: none

ci(editor): mount core/dist in Dockerfile
  editor/web/Dockerfile
Labels: none

ci(editor): inherit secrets for build (#467)
  .github/workflows/ci.yml
  editor/web/Dockerfile
Labels: ci

ci(editor): inherit secrets for build
  editor/web/package.json
Labels: none

ci(editor): revert core reference to file
  editor/web/Dockerfile
  editor/web/package.json
Labels: none

ci(editor): mount core/dist in Dockerfile
  editor/web/Dockerfile
Labels: none

ci(editor): adjust build-web context to include core
  .github/workflows/build-editor.yml
Labels: ci

fix: Dockerfile path
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): adjust build-web context to include core (#468)
  .github/workflows/build-editor.yml
Labels: ci

ci(editor): revert core reference to file
  editor/web/Dockerfile
  editor/web/package.json
Labels: none

ci(editor): inherit secrets for build
  editor/web/package.json
Labels: none

ci(editor): mount core/dist in Dockerfile
  editor/web/Dockerfile
Labels: none

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
