Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

perf(tile): single-flight CachedDemProvider so concurrent misses coalesce
  tile/src/terrain/cached_dem.rs
Labels: none

fix(tile): mask near-but-not-equal nodata sentinels to remove DEM spikes
  tile/.gitignore
  tile/README.md
  tile/src/cog/reader.rs
Labels: none

fix(tile): compute quantized-mesh normals from DEM gradient for cross-tile lighting continuity
  tile/src/server/terrain.rs
  tile/src/terrain/ellipsoid.rs
  tile/src/terrain/geodetic.rs
  tile/src/terrain/mesh_gen.rs
Labels: none

fix(tile): defense-in-depth against corrupt DEM elevations + 5min upstream-ETag TTL
  tile/README.md
  tile/src/cog/decode.rs
  tile/src/cog/mod.rs
  tile/src/cog/reader.rs
  tile/src/server/terrain.rs
  tile/src/terrain/cog_dem.rs
  tile/src/terrain/geodetic.rs
  tile/src/terrain/mesh_gen.rs
Labels: none

fix(tile): roll terrain cache forward on mesh-algo changes
  tile/src/server/terrain.rs
Labels: none

feat(tile): add tile-grid overlay to both viewers for seam debugging
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none

feat(server): expose CMS tiles `type` field on /tiles/config.json
  server/tiles/tiles.go
  server/tiles/tileserver.go
Labels: server

feat(tile): support multiple DEM sources via `type: "dem"`
  tile/AGENTS.md
  tile/src/config.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
Labels: none

feat(tile): DEM source picker in both viewers
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none

feat(tile): persist viewer state in URL
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none

fix(tile): surface source type in sources.json + fix viewer DEM leakage
  tile/src/server/handlers.rs
  tile/static/terrain_viewer.html
  tile/static/viewer.html
Labels: none

refactor(tile): replace in-tree terrain modules with terrain-codec crate
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/src/server/terrain.rs
  tile/src/terrain/layer_json.rs
  tile/src/terrain/mapbox.rs
  tile/src/terrain/mapterhorn.rs
  tile/src/terrain/martini.rs
  tile/src/terrain/mesh_gen.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/pmtiles.rs
  tile/src/terrain/quantized_mesh/coords.rs
  tile/src/terrain/quantized_mesh/encoding.rs
  tile/src/terrain/quantized_mesh/header.rs
  tile/src/terrain/quantized_mesh/mod.rs
  tile/src/terrain/quantized_mesh/types.rs
  tile/src/terrain/terrarium.rs
  tile/src/terrain/xyz_dem.rs
Labels: none

feat(tile): TERRAIN_MIRROR_URL — pass-through quantized-mesh mirror
  tile/AGENTS.md
  tile/README.md
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
  tile/src/terrain/mirror.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/settings.rs
Labels: none

feat(tile): surface qmesh mirror in terrain-viewer's source picker
  tile/src/server/handlers.rs
  tile/static/terrain_viewer.html
Labels: none

feat(cloudflare): add tiles worker serving quantized-mesh terrain from R2
  .github/workflows/ci-cloudflare-tiles.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare-tiles.yml
  README.md
  cloudflare/README.md
  cloudflare/tiles/.gitignore
  cloudflare/tiles/package-lock.json
  cloudflare/tiles/package.json
  cloudflare/tiles/src/index.ts
  cloudflare/tiles/src/terrain.ts
  cloudflare/tiles/tsconfig.json
  cloudflare/tiles/wrangler.toml
Labels: ci

ci(cloudflare): drop CLOUDFLARE_ACCOUNT_ID, let wrangler resolve from token scope
  .github/workflows/deploy-cloudflare-tiles.yml
  cloudflare/README.md
Labels: ci

ci(cloudflare): detect deploy-cloudflare-tiles.yml changes too
  .github/workflows/ci.yml
Labels: ci

build(tile): switch maplibre-native to Vulkan backend, bump to 0.5
  tile/AGENTS.md
  tile/Cargo.toml
  tile/Dockerfile
  tile/docker-entrypoint.sh
Labels: none

chore: add Backstage catalog-info.yaml
  catalog-info.yaml
Labels: none

chore: add Backstage catalog-info.yaml (#504)
  catalog-info.yaml
Labels: none

refactor(tile): adopt terrain-codec 0.3 one-shot encode + MercatorDem
  tile/AGENTS.md
  tile/Cargo.toml
  tile/src/server/terrain.rs
  tile/src/terrain/ellipsoid.rs
  tile/src/terrain/geodetic.rs
  tile/src/terrain/mesh_gen.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/webmercator.rs
Labels: none

fix(terraform): close unclosed dynamic env block in plateauview_api
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
Labels: terraform

fix(terraform): close unclosed dynamic env block in plateauview_api (#505)
  terraform/gcp/modules/plateauview_api/google_cloud_run_v2_service.tf
Labels: terraform

fix(mcp): bump plateau-spec to fix spec search analyzer error
  server/go.mod
  server/go.sum
Labels: server

fix(tile): add timeout to upstream tile/DEM reqwest clients
  tile/src/terrain/mapterhorn.rs
  tile/src/terrain/xyz_dem.rs
  tile/src/tile/xyz.rs
Labels: none

fix(geo): add timeout to reverse-geocoder axios calls
  geo/src/helpers/reverseGeoCoder/govpolygon.ts
  geo/src/helpers/reverseGeoCoder/gsi.ts
  geo/src/helpers/reverseGeoCoder/types.ts
  geo/src/helpers/reverseGeoCoder/yahoo.ts
Labels: none

fix(server): add HTTP client timeout to geocoding handler
  server/geocoding/echo.go
Labels: server

fix(server): fall back to Nominatim when GSI request times out
  server/geocoding/gsi.go
  server/geocoding/gsi_test.go
Labels: server

fix(server): cap cities resolved from spatial CityGML queries (SCA-01)
  docs/src/openapi/plateau-api.json
  server/datacatalog/citygml_files.go
  server/datacatalog/echo.go
  server/datacatalog/repos.go
  server/datacatalog/repos_test.go
  skills/plateau-api/references/citygml-apis.md
Labels: server

feat(server): expose PLATEAU spec search/outline/read as REST API at /spec
  .github/workflows/ci-docs.yml
  docs/src/openapi/plateau-api.json
  server/mcp/plateauspecmcp/rest.go
  server/mcp/plateauspecmcp/rest_test.go
  server/openapi/openapi.yml
  server/service.go
  skills/plateau-api/SKILL.md
  skills/plateau-api/references/spec-apis.md
Labels: server, ci

refactor(server): make /spec a resource-oriented REST API
  docs/src/openapi/plateau-api.json
  server/mcp/plateauspecmcp/resources.go
  server/mcp/plateauspecmcp/rest.go
  server/mcp/plateauspecmcp/rest_test.go
  server/mcp/plateauspecmcp/tools.go
  server/mcp/plateauspecmcp/tools_test.go
  server/openapi/openapi.yml
  skills/plateau-api/references/spec-apis.md
Labels: server

feat(server): give spec API its own tag and support .json/.md path extensions
  docs/src/openapi/plateau-api.json
  server/mcp/plateauspecmcp/rest.go
  server/mcp/plateauspecmcp/rest_test.go
  server/openapi/openapi.yml
  skills/plateau-api/references/spec-apis.md
Labels: server

feat(workflow): update deployment workflow to use specific branch and improve Docker image build process
  .github/workflows/deploy-flow-dev.yml
Labels: ci

fix(workflow): add missing 'contents: read' permission to deployment jobs
  .github/workflows/deploy-flow-dev.yml
Labels: ci

chore(flow): update deployment workflow to use specific branch and improve Docker image build process (#506)
  .github/workflows/deploy-flow-dev.yml
Labels: ci

fix(workflow): update docker build contexts for UI, websocket, and worker images
  .github/workflows/deploy-flow-dev.yml
Labels: ci

docs(terrain): clarify current /terrain is a Cesium ion mirror with fixed geoid
  docs/src/content/docs/datasets/terrain.md
Labels: none

docs: note watch-and-deploy-prod.sh supports the docs target
  AGENTS.md
Labels: none

improvement(deploy-flow-dev): add ci-engine job for linting and testing in deploy flow
  .github/workflows/deploy-flow-dev.yml
Labels: ci

fix(server): make spec search index init retryable and decoupled from request context
  server/mcp/plateauspecmcp/search.go
  server/service.go
Labels: server

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
