Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

feat: update @reearth/cesium-mvt-imagery-provider and build core (#498)
  editor/core/dist/core.js
  editor/core/dist/core.umd.cjs
  editor/core/dist/package.json
  editor/core/package.json
  editor/core/yarn.lock
  editor/web/yarn.lock
Labels: none

fix(worker): support ext feature type in G-Spatial catalog index generation
  server/cmsintegration/geospatialjpv3/prepare.go
  server/cmsintegration/geospatialjpv3/prepare_cloudbuild.go
  server/cmsintegration/geospatialjpv3/prepare_cloudrunjobs.go
  server/cmsintegration/geospatialjpv3/webhook.go
  server/plateaucms/plateau_feature_type.go
  worker/main.go
  worker/preparegspatialjp/command.go
  worker/preparegspatialjp/index.go
  worker/preparegspatialjp/index_citygml.go
  worker/preparegspatialjp/index_citygml_test.go
  worker/preparegspatialjp/index_dic.go
  worker/preparegspatialjp/index_plateau.go
  worker/preparegspatialjp/index_plateau_test.go
Labels: server

chore(worker): allow go mod download to update go.mod in bind mounts
  server/Dockerfile
  worker/Dockerfile
Labels: server

chore: pin Go 1.25.5 in Dockerfiles and run go mod tidy for worker
  server/Dockerfile
  worker/Dockerfile
  worker/go.mod
  worker/go.sum
Labels: server

fix(server): include items-linked data in plateau dataset generation
  server/datacatalog/datacatalogv3/conv_dataset_plateau_seed.go
Labels: server

refactor(worker): remove hardcoded featureTypees map
  worker/preparegspatialjp/index_dic.go
Labels: none

fix(server): handle "実行" values in skip_qc_conv tag for Flow QC/Conv
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintegrationcommon/model_test.go
  server/cmsintegration/cmsintflow/README.md
Labels: server

refactor(server): introduce pure workflow state machine for Flow QC/Conv
  server/cmsintegration/cmsintegrationcommon/model_test.go
  server/cmsintegration/cmsintflow/README.md
  server/cmsintegration/cmsintflow/flow_res_test.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/res.go
  server/cmsintegration/cmsintflow/service.go
  server/cmsintegration/cmsintflow/workflow.go
  server/cmsintegration/cmsintflow/workflow_test.go
Labels: server

fix(server): fix FME v3 QC/Conv status transitions
  server/cmsintegration/cmsintegrationv3/service.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
Labels: server

refactor: simplify deploy script with gh run watch
  .github/scripts/watch-and-deploy-prod.sh
Labels: none

refactor: skip Deploy Dev step when no separate run exists
  .github/scripts/watch-and-deploy-prod.sh
Labels: none

fix(server): fix Flow Conv not starting after QC and FME status corruption
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintflow/res.go
Labels: server

fix(cms): fix UpdateFields matching fields across different groups by same field ID
  cms/server/pkg/item/item.go
  cms/server/pkg/item/item_test.go
Labels: none

fix(cms): update Dockerfile Go version to 1.24.4 to match go.mod
  cms/server/Dockerfile
Labels: none

ci(cms): add target input to deploy workflows for individual component deploy
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
Labels: ci

fix(cms): fix toItemFields returning only first match for group fields
  cms/server/internal/adapter/gql/gqlmodel/convert_item.go
  cms/server/internal/adapter/gql/gqlmodel/convert_item_test.go
Labels: none

fix(cms): remove ItemGroup filtering in toItemFields to fix main-schema fields with group IDs
  cms/server/internal/adapter/gql/gqlmodel/convert_item.go
Labels: none

fix(cms): fix Asset fields in groups showing blank due to transient undefined value
  cms/web/src/components/molecules/Common/Form/AssetItem/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/MultiValueGeometry/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/MultiValueSelect/index.tsx
  cms/web/src/components/molecules/Common/MultiValueField/index.tsx
Labels: none

fix(server): continue publishing other CKAN resources when one fails and retry on 500 errors
  server/cmsintegration/ckan/ckan.go
  server/cmsintegration/geospatialjpv3/publish.go
Labels: server

fix: typo
  extension/src/shared/ui-components/HelpModal/ControllersPage.tsx
Labels: none

use Math.floor instead of Math.ceil in building filter section
  extension/src/shared/view/selection/BuildingFilterSection.tsx
Labels: none

feat(server): add Flow task cancellation when status changes (#497)
  server/cmsintegration/cmsintegrationcommon/model.go
  server/cmsintegration/cmsintflow/cancel.go
  server/cmsintegration/cmsintflow/cancel_test.go
  server/cmsintegration/cmsintflow/flow.go
  server/cmsintegration/cmsintflow/handler.go
  server/cmsintegration/cmsintflow/req.go
  server/cmsintegration/cmsintflow/res.go
  server/cmsintegration/cmsintflow/service.go
Labels: server

chore(ci): remove visualizer and cms from Pack workflow
  .github/workflows/pack.yml
Labels: ci

docs: update project version
  README.md
Labels: none

Update
  README.md
Labels: none

docs: fix readme
  README.md
Labels: none

Update
  README.md
Labels: none

fix(tile): address XSS vulnerabilities, shell injection, and tracing bugs
  tile/docker-entrypoint.sh
  tile/src/server/handlers.rs
  tile/src/server/tracing.rs
  tile/src/server/viewer.html
Labels: none

refactor(server): replace Swagger UI with Scalar for API documentation
  server/go.mod
  server/go.sum
  server/openapi/handler.go
Labels: server

refactor(server): write CMS item fetch warnings to warning.txt instead of logging
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/model.go
Labels: server

fix: update area codes
  extension/src/prototypes/view/hooks/useReverseGeocoder.ts
  extension/src/shared/api/geocoding.ts
  geo/src/modules/graphql/assets/areaCodes.json
  server/geocoding/assets/areaCodes.json
Labels: server

fix: update area codes (#499)
  extension/src/prototypes/view/hooks/useReverseGeocoder.ts
  extension/src/shared/api/geocoding.ts
  geo/src/modules/graphql/assets/areaCodes.json
  server/geocoding/assets/areaCodes.json
Labels: server

fix: building serach to include string attribute
  extension/src/shared/plateau/featureInspector/utils.ts
  extension/src/shared/view/containers/BuildingSearchPanel.tsx
Labels: none

improved perf
  extension/src/shared/view/containers/BuildingSearchPanel.tsx
Labels: none

fix
  extension/src/shared/view/containers/BuildingSearchPanel.tsx
Labels: none

fix: building serach to include string attribute (#502)
  extension/src/shared/plateau/featureInspector/utils.ts
  extension/src/shared/view/containers/BuildingSearchPanel.tsx
Labels: none

fix(server): include parent city codes when resolving wards for CityGML mesh queries
  server/datacatalog/repos.go
Labels: server

fix: strip backslash path prefix in lodstat CSV for Windows-built ZIPs
  server/datacatalog/citygml_csv.go
  server/datacatalog/citygml_csv_test.go
  worker/lodstat/main.go
Labels: server

fix(ci): grant packages:write and contents:write to reusable workflows
  .github/workflows/ci.yml
Labels: ci

fix(ci): allow workflow_dispatch action_type to trigger build jobs
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**
