Repository eukarya-inc/PLATEAU-VIEW, changes with the labels that .github/labeler.yml gives for each.
All labels: plugin, server, terraform, ci

.github/labeler.yml:

plugin:
  - changed-files:
    - any-glob-to-any-file: web/**/*
server:
  - changed-files:
    - any-glob-to-any-file: server/**/*
terraform:
  - changed-files:
    - any-glob-to-any-file: terraform/**/*
ci:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/**

feat(tile): serve Cesium quantized-mesh & Terrarium terrain
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/scripts/japan-pmtiles/README.md
  tile/scripts/japan-pmtiles/ship.sh
  tile/src/config.rs
  tile/src/lib.rs
  tile/src/main.rs
  tile/src/server/mod.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
  tile/src/server/terrain_viewer.html
  tile/src/server/viewer.html
  tile/src/terrain/dem.rs
  tile/src/terrain/ellipsoid.rs
  tile/src/terrain/geodetic.rs
  tile/src/terrain/geoid.rs
  tile/src/terrain/layer_json.rs
  tile/src/terrain/mapterhorn.rs
  tile/src/terrain/martini.rs
  tile/src/terrain/mesh_gen.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/pmtiles.rs
  tile/src/terrain/quantized_mesh/coords.rs
  tile/src/terrain/quantized_mesh/encoding.rs
  tile/src/terrain/quantized_mesh/header.rs
  tile/src/terrain/quantized_mesh/mod.rs
  tile/src/terrain/quantized_mesh/types.rs
  tile/src/terrain/settings.rs
  tile/src/terrain/terrarium.rs
  tile/tests/common/server.rs
  tile/tests/e2e_terrain_test.rs
Labels: none

fix(server): include CityGML-only feature types like dem in download response
  server/datacatalog/citygml.go
  server/datacatalog/repos.go
Labels: server

feat(tile): add Mapbox Terrain-RGB v1 raster output
  tile/README.md
  tile/src/server/routes.rs
  tile/src/server/terrain.rs
  tile/src/terrain/mapbox.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/pmtiles.rs
Labels: none

fix(tile): install git in Dockerfile for maplibre_native build
  tile/Dockerfile
Labels: none

fix(tile): install newer Git for maplibre_native build
  tile/Dockerfile
Labels: none

feat(tile): composite DEM overlays + raster PMTiles in /tiles/
  tile/AGENTS.md
  tile/Cargo.toml
  tile/README.md
  tile/src/config.rs
  tile/src/server/state.rs
  tile/src/terrain/cog_dem.rs
  tile/src/terrain/composite.rs
  tile/src/terrain/dem.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/pmtiles.rs
  tile/src/terrain/xyz_dem.rs
  tile/src/tile/mod.rs
  tile/src/tile/pmtiles.rs
Labels: none

feat(tile): viewer terrain & inspector + /tiles/sources.json
  tile/src/config.rs
  tile/src/server/handlers.rs
  tile/src/server/routes.rs
  tile/src/server/state.rs
  tile/src/server/terrain.rs
  tile/src/server/terrain_viewer.html
  tile/src/server/viewer.html
  tile/src/tile/cog.rs
  tile/src/tile/composite.rs
  tile/src/tile/pmtiles.rs
  tile/src/tile/source.rs
Labels: none

feat(server): include tiles from CMS system project in /tiles/config.json
  server/plateaucms/cms.go
  server/tiles/handler.go
Labels: server

fix(worker): extend citygmlpacker default timeout and fix log args
  worker/citygmlpacker/command.go
  worker/citygmlpacker/packer_gml.go
Labels: none

fix(scripts): track prod deploy run by id, not headSha
  .github/scripts/watch-and-deploy-prod.sh
Labels: none

fix(server): retry failed citygml pack instead of returning cached id
  server/citygml/packer.go
Labels: server

fix(tile): viewer base map defaults & PNA-safe layer.json URLs
  tile/src/server/handlers.rs
  tile/src/server/terrain.rs
  tile/src/server/terrain_viewer.html
  tile/src/server/viewer.html
Labels: none

ci(docs): add GHA workflows for docs site
  .github/scripts/watch-and-deploy-prod.sh
  .github/workflows/build-docs.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs-dev.yml
  .github/workflows/deploy-docs-prod.yml
  README.md
  docs/package.json
Labels: ci

fix(tile): serve /mapbox and /terrarium as Web Mercator XYZ
  tile/AGENTS.md
  tile/README.md
  tile/src/server/terrain.rs
  tile/src/terrain/ellipsoid.rs
  tile/src/terrain/mod.rs
  tile/src/terrain/webmercator.rs
Labels: none

feat(server): add composite 3D Tiles tileset.json endpoint
  server/datacatalog/composite3dtiles/region.go
  server/datacatalog/composite3dtiles/selector.go
  server/datacatalog/composite3dtiles/selector_test.go
  server/datacatalog/composite3dtiles/spec.go
  server/datacatalog/composite3dtiles/spec_test.go
  server/datacatalog/composite3dtiles/tileset.go
  server/datacatalog/composite3dtiles/tileset_test.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/datacatalogmcp/citygml_types.go
  server/datacatalog/datacatalogv3/conv_test.go
  server/datacatalog/repos.go
  server/datacatalog/simple.go
  server/datacatalog/simple_test.go
  server/datacatalog/v3.go
  server/govpolygon/lookup.go
  server/openapi/openapi.yml
Labels: server

docs: refresh OpenAPI schema and update README
  docs/README.md
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/openapi/plateau-api.json
Labels: none

feat(tile): switch raster DEM tiles to 256 px + add upsampling and tilejson source
  tile/AGENTS.md
  tile/README.md
  tile/src/server/terrain.rs
  tile/src/server/terrain_viewer.html
  tile/src/server/viewer.html
  tile/src/terrain/mod.rs
  tile/src/terrain/settings.rs
Labels: none

feat(docs): hero background, accent color, OG/icon, explorer enhancements
  docs/astro.config.mjs
  docs/public/apple-touch-icon.png
  docs/public/image.webp
  docs/public/og.jpg
  docs/src/components/Hero.astro
  docs/src/content/docs/datasets/explorer.mdx
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
Labels: none

fix(tile): emit relative tile URL in raster tilejson
  tile/src/server/terrain.rs
Labels: none

fix(tile): clamp /terrain/layer.json max_zoom to DEM_MAX_ZOOM
  tile/src/server/terrain.rs
Labels: none

feat(tile): upsample Cesium quantized-mesh tiles beyond DEM_MAX_ZOOM
  tile/AGENTS.md
  tile/README.md
  tile/src/server/terrain.rs
  tile/src/terrain/geodetic.rs
Labels: none

fix(tile): viewer hillshade and 3D terrain toggles no longer cancel each other
  tile/src/server/viewer.html
Labels: none

docs(datasets): document new PLATEAU-Terrain tile service and unify ortho host
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/ortho.md
  docs/src/content/docs/datasets/terrain.md
Labels: none

feat(server,docs): expose per-city CityGML datasets via simple API and GraphQL
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/citygml.md
  docs/src/content/docs/datasets/explorer.mdx
  docs/src/openapi/plateau-api.json
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/inmemory.go
  server/datacatalog/plateauapi/inmemory_filter.go
  server/datacatalog/plateauapi/merge.go
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/repo_wrapper.go
  server/datacatalog/plateauapi/schema.graphql
  server/datacatalog/plateauapi/schema.resolvers.go
  server/datacatalog/simple.go
  server/openapi/openapi.yml
Labels: server

feat(server,docs): support "latest" year in composite 3D Tiles API
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/explorer.mdx
  server/datacatalog/composite3dtiles/selector.go
  server/datacatalog/composite3dtiles/selector_test.go
  server/datacatalog/composite3dtiles/spec.go
  server/datacatalog/composite3dtiles/spec_test.go
  server/datacatalog/simple.go
  server/datacatalog/simple_test.go
  server/openapi/openapi.yml
Labels: server

feat(server,docs): add per-city MVT TileJSON API and steer samples to composite_url
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/explorer.mdx
  docs/src/content/docs/datasets/ortho.md
  docs/src/content/docs/datasets/terrain.md
  docs/src/content/docs/quickstart.md
  server/datacatalog/mvt_tilejson.go
  server/datacatalog/mvttilejson/selector.go
  server/datacatalog/mvttilejson/selector_test.go
  server/datacatalog/mvttilejson/spec.go
  server/datacatalog/mvttilejson/spec_test.go
  server/datacatalog/mvttilejson/tilejson.go
  server/datacatalog/simple.go
  server/datacatalog/simple_test.go
  server/datacatalog/v3.go
  server/openapi/openapi.yml
  tile/src/server/terrain_viewer.html
Labels: server

feat(server,docs): add per-city CityGML zip redirect endpoint
  docs/src/content/docs/datasets/citygml.md
  docs/src/content/docs/datasets/explorer.mdx
  server/datacatalog/citygml_redirect.go
  server/datacatalog/simple.go
  server/datacatalog/simple_test.go
  server/datacatalog/v3.go
  server/openapi/openapi.yml
Labels: server

feat(server,docs): expose per-city latest dataset URLs in simple API
  docs/src/content/docs/datasets/explorer.mdx
  server/datacatalog/simple.go
  server/openapi/openapi.yml
Labels: server

fix(docs): explorer search icon color in dark mode and IME composition
  docs/src/content/docs/datasets/explorer.mdx
Labels: none

feat(server,docs): expose compositeUrl/latestUrl on GraphQL dataset items
  docs/src/content/docs/api/graphql/schema.md
  docs/src/graphql/schema.graphql
  docs/src/openapi/plateau-api.json
  server/datacatalog/plateauapi/composite_url.go
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/gqlgen.yml
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/resolver.go
  server/datacatalog/plateauapi/schema.graphql
  server/datacatalog/plateauapi/schema.resolvers.go
  server/datacatalog/repos.go
Labels: server

fix(tile): split DEM source for terrain and hillshade in viewer
  tile/src/server/viewer.html
Labels: none

chore(scripts): accept commit arg and auto-pick last target-touching commit
  .github/scripts/watch-and-deploy-prod.sh
Labels: none

feat(server,docs): add CityGML 3.0 interior support and MCP composite/latest URLs
  .github/scripts/watch-and-deploy-prod.sh
  docs/src/content/docs/datasets/explorer.mdx
  server/datacatalog/composite3dtiles/selector.go
  server/datacatalog/composite3dtiles/spec.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/datacatalogmcp/register.go
  server/datacatalog/datacatalogmcp/service.go
  server/datacatalog/datacatalogmcp/transform.go
  server/datacatalog/datacatalogmcp/transform_test.go
  server/datacatalog/datacatalogmcp/types.go
  server/datacatalog/mvt_tilejson.go
  server/datacatalog/mvttilejson/selector.go
  server/datacatalog/mvttilejson/spec.go
  server/datacatalog/plateauapi/composite_url.go
  server/datacatalog/plateauapi/schema.resolvers.go
  server/datacatalog/simple.go
  server/datacatalog/simple_test.go
Labels: server

docs(server): document interior segment and latest_* arrays
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/citygml.md
  docs/src/openapi/plateau-api.json
  server/openapi/openapi.yml
Labels: server

chore(docs): add local schema regeneration scripts
  docs/README.md
  docs/package-lock.json
  docs/package.json
  docs/scripts/build-graphql-docs.mjs
  docs/scripts/build-openapi-snapshot.mjs
Labels: none

fix(server): stabilize ordering of simple dataset API and lodstat MVT
  server/datacatalog/simple.go
  server/lodstat/mvt.go
Labels: server

feat(server,docs): expose 3D Tiles format version (1.0/1.1) in APIs
  docs/src/content/docs/api/graphql/schema.md
  docs/src/content/docs/datasets/3d-tiles.md
  docs/src/content/docs/datasets/explorer.mdx
  docs/src/graphql/schema.graphql
  docs/src/openapi/plateau-api.json
  server/datacatalog/composite3dtiles/selector.go
  server/datacatalog/composite3dtiles/tileset.go
  server/datacatalog/composite3dtiles/tileset_test.go
  server/datacatalog/composite_tileset.go
  server/datacatalog/datacatalogv2/datacatalogv2adapter/cache_test.go
  server/datacatalog/datacatalogv2/datacatalogv2adapter/type.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_test.go
  server/datacatalog/datacatalogv3/repos_test.go
  server/datacatalog/plateauapi/generated.go
  server/datacatalog/plateauapi/models_gen.go
  server/datacatalog/plateauapi/schema.graphql
  server/datacatalog/simple.go
  server/openapi/openapi.yml
Labels: server

chore: small unrelated tweaks
  docs/src/components/Hero.astro
  server/cmsintegration/cmsintegrationcommon/model.go
Labels: server

feat(server/tiles): cache tiles in memory with 3min TTL and lazy refresh
  server/tiles/README.md
  server/tiles/handler.go
Labels: server

feat(docs): add Project PLATEAU copyright footer and PLATEAU VIEW link
  docs/astro.config.mjs
  docs/src/components/Footer.astro
  docs/src/content/docs/datasets/explorer.mdx
Labels: none
