Repository eukarya-inc/PLATEAU-VIEW, pull requests merged in 2024-10, with the labels that each got.

#335 fix: use default Google streetview token from env var
  .github/workflows/deploy-extension-dev.yml
  .github/workflows/deploy-extension-prod.yml
  extension/.env.example
  extension/src/toolbar/Widget.tsx
Labels: ci

#338 ci: fix labeler
  .github/labeler.yml
  .github/workflows/build-worker.yml
  .github/workflows/pr-title.yml
Labels: ci

#340 chore(server): Added default values to the configuration of the CityGML service
  .github/workflows/build-worker.yml
  server/config.go
Labels: ci, server

#341 fix(server): Add validation for empty URL list in citygml packer
  server/citygml/packer.go
Labels: server

#342 fix(server): Fixed incorrect BuildStep.Name configuration in citygml packer
  server/citygml/packer.go
Labels: server

#344 fix(server): Fix route parameters in citygml echo server
  server/citygml/echo.go
Labels: server

#345 feat(server): load plateau spec info from cms dynamically
  server/cmsintegration/cmsintegrationcommon/config.go
  server/cmsintegration/cmsintegrationv3/fme.go
  server/cmsintegration/cmsintegrationv3/fme_test.go
  server/cmsintegration/cmsintegrationv3/model.go
  server/cmsintegration/cmsintegrationv3/model_test.go
  server/cmsintegration/cmsintegrationv3/service.go
  server/cmsintegration/cmsintegrationv3/service_fme.go
  server/cmsintegration/cmsintegrationv3/service_fme_test.go
  server/config.go
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/cms_test.go
  server/datacatalog/datacatalogv3/consts.go
  server/datacatalog/datacatalogv3/repos.go
  server/datacatalog/datacatalogv3/repos_test.go
  server/datacatalog/datacatalogv3/spec.go
  server/datacatalog/repos.go
  server/plateaucms/cms.go
  server/plateaucms/context.go
  server/plateaucms/metadata.go
  server/plateaucms/plateau-spec.go
  server/plateaucms/plateau-spec_test.go
Labels: server

#346 feat: add deploy Re:Earth CMS Web workflow
  .github/workflows/deploy-cms-dev.yml
Labels: ci

#347 ci: add deploy Re:Earth CMS web to production GitHub Actions workflow
  .github/workflows/deploy-cms-prod.yml
Labels: ci

#348 feat(server): add CMS URL to admin in datacatalogv3
  server/.gitignore
  server/datacatalog/datacatalogv3/cms.go
  server/datacatalog/datacatalogv3/cms_test.go
  server/datacatalog/datacatalogv3/conv.go
  server/datacatalog/datacatalogv3/conv_citygml.go
  server/datacatalog/datacatalogv3/conv_dataset_generic.go
  server/datacatalog/datacatalogv3/conv_dataset_generic_test.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_seed.go
  server/datacatalog/datacatalogv3/conv_dataset_plateau_test.go
  server/datacatalog/datacatalogv3/conv_dataset_related.go
  server/datacatalog/datacatalogv3/conv_dataset_related_test.go
  server/datacatalog/datacatalogv3/conv_internal.go
  server/datacatalog/datacatalogv3/model.go
  server/datacatalog/datacatalogv3/repos.go
  server/datacatalog/datacatalogv3/repos_test.go
  server/datacatalog/repos.go
  server/plateaucms/cms.go
  server/plateaucms/context.go
  server/plateaucms/metadata.go
Labels: server
