Repository eukarya-inc/PLATEAU-VIEW, pull requests merged in 2024-05, with the labels that each got.

#313 feat(server,worker): extract max lod for dem
  go.work.sum
  server/cmsintegration/cmsintegrationcommon/config.go
  server/cmsintegration/cmsintegrationv3/service.go
  server/cmsintegration/cmsintegrationv3/service_maxlod.go
  server/cmsintegration/cmsintegrationv3/webhook.go
  server/cmsintegration/gcptaskrunner/cloudbatch.go
  server/cmsintegration/gcptaskrunner/cloudbuild.go
  server/cmsintegration/gcptaskrunner/cloudrunjobs.go
  server/cmsintegration/gcptaskrunner/config.go
  server/cmsintegration/gcptaskrunner/config_test.go
  server/cmsintegration/gcptaskrunner/task.go
  server/cmsintegration/gcptaskrunner/task_test.go
  server/cmsintegration/gcptaskrunner/taskrunner.go
  server/config.go
  server/go.mod
  server/go.sum
  worker/extractmaxlod/cms.go
  worker/extractmaxlod/command.go
  worker/extractmaxlod/command_test.go
  worker/extractmaxlod/config.go
  worker/extractmaxlod/maxlod.go
  worker/main.go
  worker/preparegspatialjp/cms.go
  worker/preparegspatialjp/cms_wrapper.go
  worker/preparegspatialjp/command.go
  worker/preparegspatialjp/command_multiple.go
  worker/preparegspatialjp/command_test.go
  worker/preparegspatialjp/generate_maxlod.go
  worker/preparegspatialjp/validate_maxlod.go
  worker/workerutil/file.go
  worker/workerutil/zip2zip.go
  worker/workerutil/zip2zip_test.go
Labels: server

#297 feat: add example tfvars of aws
  terraform/aws/.terraform.lock.hcl
  terraform/aws/README.md
  terraform/aws/cognito.tf
  terraform/aws/modules/cognito/main.tf
  terraform/aws/modules/cognito/variables.tf
  terraform/aws/modules/reearth-cms/cms-s3.tf
  terraform/aws/modules/reearth-cms/cms-worker.tf
  terraform/aws/modules/reearth-cms/cms.tf
  terraform/aws/modules/reearth-cms/domain/main.tf
  terraform/aws/modules/reearth-cms/domain/variables.tf
  terraform/aws/modules/reearth-cms/ecr/main.tf
  terraform/aws/modules/reearth-cms/ecr/variables.tf
  terraform/aws/modules/reearth-cms/output.tf
  terraform/aws/modules/reearth-cms/plateauview-api.tf
  terraform/aws/modules/reearth-cms/plateauview-geo-s3.tf
  terraform/aws/modules/reearth-cms/variables.tf
  terraform/aws/modules/reearth/domain/main.tf
  terraform/aws/modules/reearth/domain/variables.tf
  terraform/aws/modules/reearth/ecr/main.tf
  terraform/aws/modules/reearth/ecr/variables.tf
  terraform/aws/modules/reearth/main.tf
  terraform/aws/modules/reearth/output.tf
  terraform/aws/modules/reearth/variables.tf
  terraform/aws/modules/tfstate/output.tf
  terraform/aws/modules/tfstate/variables.tf
  terraform/aws/reeart-cms.tf
  terraform/aws/reearth.tf
  terraform/aws/route53.tf
  terraform/aws/terraform.tf
  terraform/aws/tfvars/example.tfvars
  terraform/aws/variables.tf
Labels: terraform

#317 feat(ci): migrate from PAT from GitHub App
  .github/workflows/deploy-cms-dev.yml
  .github/workflows/deploy-cms-prod.yml
  .github/workflows/deploy-reearth-prod.yml
Labels: ci
